/* -------------------------

Title: _page-section
Descr: sets up all uniquie styles for page-sections and page section labels

--------------------------- */

.section-label {
  margin-top: 1em;
  font-size: 2rem;
}
