/* -------------------------

Title: link
Descr: 
    basic link

--------------------------- */
a,
.link {
  color: var(--as-red);
  text-decoration: none;
  &:focus {
    outline: 1px dashed var(--as-purple);
    outline-offset: -1px;
  }
}

// main content base link styles
main {
  a,
  .link {
    color: var(--as-red);

    text-decoration: underline;
    text-decoration-color: var(--gray-lt);
    transition: all 1s;
    &:hover {
      text-decoration-color: var(--gray-lightest);
    }
  }
}

// social media links
.socialLink {
  text-indent: -9999px;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
  &:before {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: 0;
    background: var(--as-white);
    // background-image: var(--blue-purple);
    // background-size: 100%;
    // animation: bg-animation 3s infinite alternate;
    content: "";
  }
  &--twitter {
    &:before {
      clip-path: url(#twitter);
    }
  }
  &--facebook {
    &:before {
      clip-path: url(#facebook);
    }
  }
  &--instagram {
    &:before {
      clip-path: url(#instagram);
    }
  }
  &--dark-teal {
    &:before {
      background: var(--as-teal-dark);
    }
  }
  &--white {
    &:before {
      background: var(--as-white);
    }
  }
}

//link animatation
@keyframes link-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
