/* -------------------------

Title: department and program
Descr: 
    uses the <main> 12 column grid as a base.
    under /pages because it includes the <main> element

    defines main layouts for default m/m/g pages

--------------------------- */

.department-program {
  @include base12GridColumns();
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "type type type type type type type type . . . ."
    "title title title title title title title title . . . . "
    // ". description description description description description description description . sidebar sidebar sidebar "
    "content content content content content content content content sidebar sidebar sidebar sidebar";
  @include large() {
    grid-template-areas:
      ". type type type type type type . . . . ."
      ". title title title title title title . . . . . "
      // ". description description description description description description description . sidebar sidebar sidebar "
      ". content content content content content content . sidebar sidebar sidebar .";
  }
  .title {
    grid-area: title;
  }

  .type {
    grid-area: type;
  }
  .description {
    grid-area: description;
  }
  .image {
    grid-area: thumbnail;
  }
  .content {
    grid-area: content;
    > .pageComponent {
      margin-bottom: 0;
    }
  }
  .sidebar {
    grid-area: sidebar;
    h3 {
      font-size: var(--base-24);
    }
  }
}
