<header
	class="header" id="top">
	<!--
																																				  ***  SKIP NAV  ***
																																				  -->
	<div id="skip">
		<a href="#as-main-nav">
			Jump to main navigation
		</a>
		<a href="#mainContent">
			Jump to main content
		</a>
	</div>

	<a href="https://cornell.edu" title="Cornell University" class="cu-logo">
		Cornell University
	</a>
	<a class="department-logo" href="/" title="Test Department">
		Department
	</a>
	<a href="https://as.cornell.edu" class="as-logo" title="College of Arts and Sciences">
		The College of Arts & Sciences
	</a>

	<div
		class="header__mainNav">
		{# START FAKE MENU #}
		<ul class="nav nav--main">
			<li class="nav__item nav__item--with-sub">
				<a href="#" class="nav__link">
					Admissions
				</a>
				<button class="subNavToggle">
					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
						<use xlink:href='#chevron-down'></use>
					</svg>
					<span class="sr-only">
						open subnavigation
					</span>
				</button>
				<ul class="nav-1">
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							Requirements
						</a>
					</li>
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							How to apply
						</a>
					</li>
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							This is another link
						</a>
					</li>
				</ul>
			</li>
			<li class="nav__item nav__item--with-sub">
				<a href="#" class="nav__link">
					Education
				</a>
				<button class="subNavToggle">
					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
						<use xlink:href='#chevron-down'></use>
					</svg>
					<span class="sr-only">
						open subnavigation
					</span>
				</button>
				<ul class="nav-1">
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							Requirements
						</a>
					</li>
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							How to apply
						</a>
					</li>
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							This is another link
						</a>
					</li>
				</ul>
			</li>
			<li class="nav__item nav__item--with-sub">
				<a href="#" class="nav__link">
					Research and Scholarship
				</a>
				<button class="subNavToggle">
					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
						<use xlink:href='#chevron-down'></use>
					</svg>
					<span class="sr-only">
						open subnavigation
					</span>
				</button>
				<ul class="nav-1">
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							Requirements
						</a>
					</li>
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							How to apply
						</a>
					</li>
					<li class="nav-1__item">
						<a href="#" class="nav-1__link">
							This is another link
						</a>
					</li>
				</ul>
			</li>


		</ul>
		{# <ul class="mainNav">


																			<li class="mainNav__item mainNav__item--with-sub">


																				<a class="mainNav__link mainNav__link--with-sub" href="/admissions">
																					Admissions
																				</a>
																				<button class="mainNav__subNavToggle">
																					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
																						<use xlink:href='#chevron-down'></use>
																					</svg>
																					<span class="sr-only">
																						open subnavigation
																					</span>
																				</button>


																				<ul class="subNav">


																					<li class="subNav__item">


																						<a class="subNav__link" href="/admissions/admissions-requirements-and-process">
																							Requirements and process
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/admissions/information-sessions">
																							Information Sessions
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/admissions/ambassadors">
																							A&amp;S Ambassadors
																						</a>
																					</li>

																				</ul>

																			</li>


																			<li class="mainNav__item mainNav__item--with-sub">


																				<a class="mainNav__link mainNav__link--with-sub" href="/education">
																					Education
																				</a>
																				<button class="mainNav__subNavToggle">
																					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
																						<use xlink:href='#chevron-down'></use>
																					</svg>
																					<span class="sr-only">
																						open subnavigation
																					</span>
																				</button>


																				<ul class="subNav">


																					<li class="subNav__item">


																						<a class="subNav__link" href="/majors-and-minors">
																							Majors and Minors
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/education/degree-requirements">
																							Degree Requirements
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/education/curriculum">
																							An Innovative Curriculum
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/student-services">
																							Student Services
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/education/special-academic-opportunities">
																							Special Academic Opportunities
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/education/education-innovation">
																							Education Innovation
																						</a>
																					</li>

																				</ul>

																			</li>


																			<li class="mainNav__item mainNav__item--with-sub">


																				<a class="mainNav__link mainNav__link--with-sub" href="/research">
																					Research &amp; Scholarship
																				</a>
																				<button class="mainNav__subNavToggle">
																					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
																						<use xlink:href='#chevron-down'></use>
																					</svg>
																					<span class="sr-only">
																						open subnavigation
																					</span>
																				</button>


																				<ul class="subNav">


																					<li class="subNav__item">


																						<a class="subNav__link" href="/research/undergraduate-research">
																							Undergraduate Research
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/research/klarman-fellowships">
																							Klarman Fellows
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/research/humanities-scholars-program">
																							Humanities Scholars Program
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/research-scholarship/arts-humanities">
																							Arts &amp; Humanities
																						</a>
																					</li>

																				</ul>

																			</li>


																			<li class="mainNav__item mainNav__item--with-sub">


																				<a class="mainNav__link mainNav__link--with-sub" href="/public-engagement-local-and-global">
																					Public Engagement
																				</a>
																				<button class="mainNav__subNavToggle">
																					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
																						<use xlink:href='#chevron-down'></use>
																					</svg>
																					<span class="sr-only">
																						open subnavigation
																					</span>
																				</button>


																				<ul class="subNav">


																					<li class="subNav__item">


																						<a class="subNav__link" href="/public-engagement/distinguished-visiting-journalists">
																							Distinguished Visiting Journalists
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/public-engagement/arts-unplugged">
																							Arts Unplugged
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/public-engagement/racism-in-america">
																							Racism in America
																						</a>
																					</li>

																				</ul>

																			</li>


																			<li class="mainNav__item mainNav__item--with-sub">


																				<a class="mainNav__link mainNav__link--with-sub" href="/about">
																					The College
																				</a>
																				<button class="mainNav__subNavToggle">
																					<svg class='icon icon--arrow' viewbox='0 0 52 32'>
																						<use xlink:href='#chevron-down'></use>
																					</svg>
																					<span class="sr-only">
																						open subnavigation
																					</span>
																				</button>


																				<ul class="subNav">


																					<li class="subNav__item">


																						<a class="subNav__link" href="/departments-and-programs">
																							Departments and Programs
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/people-search">
																							Directory
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/about/student-life">
																							Student Life
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/about/equity-diversity">
																							Equity and Diversity
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/about/leadership">
																							Leadership
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/about/awards">
																							Awards
																						</a>
																					</li>


																					<li class="subNav__item">


																						<a class="subNav__link" href="/about/facilities">
																							Facilities
																						</a>
																					</li>

																				</ul>

																			</li>

																		</ul> #}

		{# END FAKE MENU #}
	</div>
	<div class="header__buttons">

		<div class="iconButton iconButton--search">
			<button class="icon icon--button search-opener" id="search-opener">
				<span class="sr-only">
					Open search
				</span>
				<svg class='icon icon--search' viewbox='0 0 52 32'>
					<use xlink:href='#search'></use>
				</svg>
			</button>
		</div>
		<div class="iconButton iconButton--showNav">
			<button class="icon icon--button nav--main-opener" id="nav--main-opener">
				<span class="sr-only">
					Open nav
				</span>
				<svg class='icon icon--burger' viewbox='0 0 52 32'>
					<use xlink:href='#burger'></use>
				</svg>
			</button>
		</div>

	</div>
	<div class="header__searchForm">
		<form action="/site-search" id="header__searchform" class="form form--overlaySearch">
			<label for="search-input">
				Search for:
			</label>
			<span class="searchField">
				<input data-drupal-selector="edit-keywords" type="text" id="edit-keywords" name="keywords" value="" size="30" maxlength="128" class="form-text form-item__textfield"/>
				<input data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Search" class="js-form-submit form-submit form-item__submit"/>
			</span>
		</form>
	</div>
</header>
