/*

  - BUNCH O' THNGS THAT DONT'GET OWN ACTION AT THIS POINT

*/
:root {
  /*
----
BORDERS
----
*/
  --border-width: 1px;
  --border-color: var(--as-gray-400);
  --border-radius: 4px;

  /*
----
MARGINS
  - margins set to control horizontal spacing for page components
  - collapse at smaller sizes
----
*/

  --margin-1: 1rem;

  --margin-2: 2rem;

  --margin-3: 2rem;
  @include mq(medium) {
    --margin-3: 3rem;
  }

  --margin-4: 2rem;
  @include mq(medium) {
    --margin-4: 4rem;
  }

  --margin-6: 2rem;
  @include mq(medium) {
    --margin-6: 6rem;
  }

  --space: 2rem;
}
