/*
  -box shadows
  -gradients
*/
:root {
  --box-shadow: 0 4px 8px var(--as-gray-400);
  --box-shadow-dark: 0 0 16px var(--as-gray-700);
  //need gradient
  // big
  // hilightone
  --button-gradient: linear-gradient(
    120deg,
    var(--as-teal-600) 0%,
    var(--as-teal-400) 90%
  );
  --button-gradient-2: linear-gradient(
    120deg,
    var(--as-teal-600) 0%,
    var(--as-teal-500) 95%
  );
  --pt-gradient: linear-gradient(
    120deg,
    var(--as-teal-600) 0%,
    var(--as-teal-500) 95%
  );
}
