// animations
@keyframes simpleFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin linkUnderline(
  $color1: var(--as-teal-400),
  $color2: var(--as-red-400),
  $lineHeight: 2px
) {
  background-image: linear-gradient(90deg, $color1, $color2);
  background-size: 0 $lineHeight;
  background-position: left 92%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size 300ms ease;

  &:hover {
    background-size: 100% $lineHeight;
  }
}
