/* -------------------------

Title: <main> .basicSidebar
Descr: 
   basicSidebar specific 

--------------------------- */

// Basic sidebar
.basicSidebar {
  grid-template-rows: auto auto 1fr;

  .nav--site {
    grid-area: nav;
  }
  .title {
    grid-area: title;
    h1 {
      text-align: center;
      font-family: var(--font-serif);
      font-weight: var(--semi);
      @include large() {
        text-align: left;
        margin-top: 0;
      }
    }
  }
  .sidebar {
    grid-area: sidebar;
  }
  .content {
    grid-area: content;
  }
  aside {
    // display: none;
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    z-index: 1;
    @include medium() {
      grid-area: aside;

      // display: block;
    }
    // @include large() {
    //   grid-area: aside;
    // }

    .page_component_entity {
      display: none;
      @include large() {
        display: block;
      }
    }
  }
  grid-template-areas:
    "nav"
    "title"
    "aside"
    "content"
    "sidebar";
  @include medium {
    grid-template-areas:
      ". title title title title title title title title title title ."
      "nav nav nav content content content content content content content content content"
      "sidebar sidebar sidebar content content content content content content content content content";
  }
  @include large {
    grid-template-columns: repeat(24, 1fr);
    grid-template-areas:
      ". . . . . title title title title title title title title title title title title title title title . . . ."
      "nav nav nav nav nav content content content content content content content content content content content content content content content aside aside aside aside"
      "sidebar sidebar sidebar sidebar sidebar content content content content content content content content content content content content content content content aside aside aside aside";
  }
  &--has-aside {
    @include medium {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
        ". title title title title title title title title title title ."
        "nav nav nav aside aside aside aside aside aside aside aside aside"
        "nav nav nav content content content content content content content content content"
        "sidebar sidebar sidebar content content content content content content content content content";
    }
    @include large {
      grid-template-columns: repeat(24, 1fr);
      grid-template-areas:
        ". . . . . title title title title title title title title title title title title title title title . . . ."
        "nav nav nav nav nav content content content content content content content content content content content content content content content aside aside aside aside"
        "sidebar sidebar sidebar sidebar sidebar content content content content content content content content content content content content content content content aside aside aside aside";
    }
  }

  // spotlight on the first <p> in the first FTB
  .content {
    > h2:first-of-type {
      margin-top: 0;
    }
    > .pageComponent--ftb > p:first-of-type {
      @extend .base-28;
    }
  }

  //pcWrapper
  .pcWrapper {
    margin-bottom: 3rem;
  }
}
