/* -------------------------

Title: main layouts for node--landing-page.html.twig

Descr: 
   landingPage specific 

--------------------------- */

.landingPage {
  grid-template-areas: "title" "aside" "content";
  .title {
    grid-area: title;
    // @extend .spotlight;
    h1 {
      font-family: var(--font-serif);
      text-align: center;
      font-size: var(--base-84);
      max-width: 25ch;
      line-height: 1em;
      font-weight: var(--heavy);
      margin: 0 0.5em 0.5em;
    }
  }
  aside {
    grid-area: aside;
    position: sticky;
    top: 0;
    margin: 1rem 0 2rem 0;
    // display: flex;
    // justify-content: center;
  }
  .content {
    grid-area: content;
  }
  > div {
    grid-column: 1 / -1;
  }
  .content > .pcWrapper {
    margin-bottom: var(--bottom-margin);
  }
  // constrain ftbs that are in full width contianers
  .content > .pcWrapper--ftb,
  .pageSection > .pcWrapper--ftb {
    margin-left: auto;
    margin-right: auto;
    // background: red;
    @include mq(medium) {
      p,
      ul,
      ol {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  // remove margin-top from first spotlight
  .content > .pcWrapper--ftb:first-of-type() {
    .spotlight {
      margin-top: 0;
    }
  }
  .group__title--sr-only {
    @extend .sr-only;
  }
  &--no-pano {
    .title {
      position: relative;
      margin: 0 auto;
    }
    h1 {
      // font-family: var(--font-serif);
      // text-align: center;
      // font-size: var(--base-84);
      // max-width: 25ch;
      // line-height: 1em;
      // margin: 0.5em auto 1em;
    }
  }
  &--pano {
    grid-template-areas: "title" "pano" "aside" "content";
    @include mq(medium) {
      grid-template-areas: "pano" "title" "aside" "content";
    }

    .title {
      text-align: center;
      @include mq(medium) {
        display: flex;
        flex-direction: column;
        font-weight: var(--heavy);
        grid-template-columns: 1fr;
        align-items: center;
        max-width: 100%;
      }
    }
    .pano {
      grid-area: pano;
    }
  }
  &--homepage {
    .title {
      // @extend .sr-only;
    }
    aside {
      display: none;
    }
  }
}
@keyframes captionFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
