{#

/* -------------------------

Title: _chevron
Descr: ouputs chevron to be used in all toggle thingers

--------------------------- */

 #}


<button class="icon icon--button {{toggleClass}}">
	<svg class="" viewbox="0 0 24 24">
		<use xlink:href="#{{shape}}"></use>
	</svg>
	<span class="sr-only">
		{{shape}}
	</span>
</button>
