{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{# 
{% include "@site/_site-header.twig" with {
content: content

} %} #}

{# sev variables to show or hide menu based on role and site url #}
{% set roles = user.getroles(TRUE) %}
{% set nomenu = ['http://localhost:65409/','https://departments.as.cornell.edu/'] %}
{% set menupath = url('<front>')|render|render %}

<header class="header" id="top">
	<div id="skip">
		<a href="#main-menu">
			Jump to main navigation
		</a>
		<a href="#section-menu">
			Jump to section navigation
		</a>
		<a href="#mainContent">
			Jump to main content
		</a>
	</div>

	<a href="https://cornell.edu" title="Cornell University" class="cu-logo">
		Cornell University
	</a>
	{#<a class="department-logo" href="/" title="Test Department">
												Department
											</a> #}
	{# ADDED SITE BRANDING BLOCK FOR DIFFERENT DEPARTMENT LOGO PER DOMAIN #}
	{# <div class="department-logo"> #}
	{{ drupal_block('department_header_logos_block') }}
	{# needs block to be placed in block layout to work as drupal_entity #}
	{# drupal_entity('block', 'departmentheaderlogosblock', check_access=false) #}
	{# </div> #}

	{# ADDED COLLEGE LOGO BLOCK FOR DIFFERENT COLLEGE LOGO PER DOMAIN #}
	{{ drupal_block('college_header_logos_block') }}


	{# ADDED MAIN MENU FOR DIFFERENT LINKS PER DOMAIN #}
	{% if roles.0 == 'administrator' %}
	{# added as user switcher #}
	{# drupal_entity('block', 'masquerade', check_access=true) #}
	<nav class="header__mainNav nav--main" aria-label="Main menu" id="main-menu"> {{ drupal_menu('top-nav', 1, 2, expand=true) }}
	{% else %}
		<nav class="header__mainNav nav--main" aria-label="Main menu" id="main-menu"> {{ drupal_menu('top-nav', 2, 2, expand=true) }}
	</nav>
	{% endif %}
	{# </nav> #}
	<div class="header__buttons">
		<div class="iconButton iconButton--search">
			<button class="icon icon--button search-opener" id="search-opener">
				<span class="sr-only">
					Open search
				</span>
				<svg class='icon icon--search' viewbox='0 0 52 32'>
					<use xlink:href='#search'></use>
				</svg>
			</button>
		</div>
		<div class="iconButton iconButton--showNav">
			<button class="icon icon--button toggle--topNav" id="nav--main-opener">
				<span class="sr-only">
					Open nav
				</span>
				<svg class='icon icon--burger' viewbox='0 0 52 32'>
					<use xlink:href='#burger'></use>
				</svg>
			</button>
		</div>

	</div>
	<div class="header__searchForm">
		<form action="/search" id="header__searchform" class="form form--overlaySearch">
			<label for="search-input">
				Search for:
			</label>
			<span class="searchField">
				<input data-drupal-selector="edit-keywords" type="text" id="search-input" name="keywords" value="" size="30" maxlength="128" class="form-text form-item__textfield"/>
				<input data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Search" class="js-form-submit form-submit form-item__submit"/>
			</span>
		</form>
	</div>
</header>
