/* -------------------------

Title: _list-block
Descr: sets up all generic styles for list-block paragraphs

--------------------------- */

.list-block {
  // margin-top: 4rem;
  &__label {
    margin-top: 1em;
  }
  &__text {
    max-width: 80%;
    margin-top: 1em;
  }
  &__list {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
  }
  > a {
    @extend .button;
    margin-top: 1em;
  }
}

// Adjust list block grid layout according to basic page layout

.basicPage--has-sidebar,
.article {
  .list-block__list {
    // display: grid;
    // grid-template-columns: 1fr;
    @include mq(small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.basicPage--full-page {
  .list-block__list {
    // display: grid;
    grid-gap: 1rem;
    // grid-template-columns: 1fr;
    @include mq(small) {
      grid-template-columns: repeat(2, 1fr);
    }
    // @include mq(medium) {
    //   grid-template-columns: repeat(3, 1fr);
    // }
    // @include mq(large) {
    //   grid-template-columns: repeat(4, 1fr);
    // }
  }
}
