/* -------------------------

Title: _related-articles
Descr: sets up all uniquie styles for related aritcle specific things
  - includes flickity overirdes

--------------------------- */

.related-articles--carousel, .list-block--carousel {
  padding: 1rem;
  .article--teaser {
    width: 100%;
    margin: 0 0.5rem;
    height: 450px;
    @include mq(medium) {
      width: calc(50% - 0.5rem);
      margin: 0 0.5rem;
      height: 500px;
    }
    @include mq(header) {
      width: calc(33.33333333% - 0.5rem);
      margin: 0 0.5rem;
      height: 500px;
    }
  }
}
