/* -------------------------

Title: sidebar navigation
Descr: sidebarNav small and large, hovers and toggles for subNav
       
Still needs: expand toggle for showing sidebar nav on mobile

--------------------------- */

ul[class^="nav"] {
  font-size: var(--base-20);
  list-style-type: none;
  padding-left: 0;
  font-weight: var(--regular);
  li {
    margin-bottom: 0.5em;
    max-width: 100%;
  }
  a {
    display: block;
  }
  @include medium() {
    overflow: visible;
    font-size: var(--base-18);
    line-height: 1.5em;
    a {
      position: relative;
      color: var(--dark-text);
      &:before {
        position: absolute;
        content: "";
        height: calc(100% - 2px);
        width: 2px;
        transform: translateX(-18px);
        // top: 0;
        background: var(--gray-lt);
        border-radius: 2px;
        transition: width 250ms;
      }
      &:hover {
        &:before {
          width: 4px;
          // transform: translateX(-16px);
        }
      }
    }
    // active trail
    [class*="active-trail"] {
      > a {
        font-weight: var(--semi);
        margin-bottom: 8px;
        &:before {
          width: 4px;
          // transform: translateX(-16px);
        }
      }
    }
    .with-sub {
      display: grid;
      grid-template-columns: 1fr 2rem;
      > a {
        grid-column: 1 / 1;
      }
      > button {
        grid-column: 2 / -1;
      }
      > ul {
        grid-column: 1 / -1;
      }
      @include medium() {
        display: auto;
        > button {
          display: none;
        }
      }
    }
  }
  @include large() {
    // font-size: var(--base-20);
  }
}

//top level
.nav {
  // height: 0;
  overflow: hidden;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  position: absolute;
  z-index: 1;
  background: var(--as-teal);
  padding: 0;
  width: calc(100% - 2rem);
  margin-top: -4px;
  //animation stuff
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 150ms ease-out;
  &.expanded {
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 250ms ease-in-out 250ms;
  }
  ul {
    margin-bottom: 0;
  }
  a {
    color: var(--as-white);
    padding: 0.5em 0.5em;
    @include medium() {
      padding: 0;
    }
  }
  .nav__root {
    > a {
      background: var(--as-black);
      @include medium() {
        background: none;
      }
    }
  }
  // [class*="active-trail"] {
  //   a {
  //     background: red;
  //   }
  // }
  .nav-1 {
    a {
      padding-left: 1em;
      background: var(--dark-text);
      @include medium() {
        padding-left: 16px;
        background: none;
      }
    }
    &__item--active-trail {
      a {
        background: var(--as-teal-dark);
        @include medium() {
          background: none;
        }
        @include large() {
          // font-size: var(--base-24);
        }
      }
    }
  }
  .nav-2 {
    margin-left: 1em;
    a {
      background: var(--as-teal);
      @include medium() {
        background: none;
      }
    }
  }
  @include medium() {
    transition: none;
    transform: none;
    position: relative;
    padding: none;
    margin-bottom: 2rem;
    background: none;
    width: 100%;
    &__root {
      position: inherit;
      > a {
        grid-column: 1 / -1 !important;
        font-size: var(--base-20);
        color: var(--as-black);
        text-decoration-color: var(--gray-lt);
        font-weight: var(--semi);
        margin-bottom: 0.5em;
        &:before {
          display: none;
        }
      }
    }
    .nav-1 {
      // border-left: 1px solid var(--as-teal);
      &__item {
        &[class*="active-trail"] {
          > a {
            &:before {
              background: var(--as-teal);
            }
          }
        }
        > a {
          &:before {
            background-color: var(--as-teal);
          }
        }
      }
      a {
        text-decoration-color: var(--as-teal);
      }
    }

    .nav-2 {
      // border-left: 1px solid var(--as-blue-base);
      &__item {
        &[class*="active-trail"] {
          > a {
            &:before {
              background: var(--as-blue-base);
            }
          }
        }
        > a {
          &:before {
            background: var(--as-blue-base);
          }
        }
      }
      a {
        text-decoration-color: var(--as-blue-base);
      }
    }

    .nav-3 {
      // border-left: 1px solid var(--as-light-blue);
      &__item {
        &[class*="active-trail"] {
          > a {
            &:before {
              background: var(--as-light-blue);
            }
          }
        }
        > a {
          &:before {
            background: var(--as-light-blue);
          }
        }
      }
      a {
        text-decoration-color: var(--as-light-blue);
      }
    }
  }
  @include large() {
    &__root {
      > a {
        font-size: var(--base-24);
      }
    }
  }
  // base withSubNav
  .withSubNav {
    position: relative;
    &:before {
      position: absolute;
      right: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      content: "s";
    }
  }
  // .optNav removed and managed on _opt-nav.scss for big screen.
  @include medium() {
    .otpNav {
      @include medium() {
        display: none;
      }
    }
  }
}

// siteNavOpener

.siteNavOpener {
  font-size: var(--base-16);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  // margin-right: 0.5rem;
  font-size: var(--base-20);
  margin-top: 0.5em;
  max-width: 100%;
  padding: 0.5rem;
  grid-row: 1;
  border: 1px solid var(--gray-lt);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: underline;
  svg {
    fill: var(--as-dark-blue);
  }
  @include medium() {
    display: none;
  }
}

// indiacator anmimations
@keyframes indicators {
  0% {
    transform: translateX(-1.25em);
    // left: -1.25em;
  }
  60% {
    transform: translateX(-0.65em);
    // left: -0.5em;
  }
  100% {
    transform: translateX(-0.75em);
    // left: -1em;
  }
}
