/* -------------------------

Title: Cards
Descr: Sets shape and border of cards
  
--------------------------- */

// default card styles

.card {
  // @include boxShadow;
  // @include baseBorder();
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  // @include gradient-border();
  border: 1px solid pink;
  align-items: flex-start;
  figure {
    margin: 0;
    box-shadow: none;
    img {
      border-radius: 2px 2px 0 0;
    }
  }
  > * {
    position: relative;
  }
  a {
    color: var(--as-red-500);
    display: block;
    &:hover {
      color: var(--as-red-500);
    }
  }
}

// .card__label {
//   margin-bottom: 0;
// }

// .card__body {
//   margin: 0.7em 0 1em;
// }

// .card__copy {
//   padding: 1rem;
// }

// // for embedded small cards
// [data-embed-button="article_entity_embed"] {
//   .card--small {
//     max-width: 400px;
//   }
// }

// // COURSES
// .card--course {
//   padding: 1rem;
// }
