/* -------------------------

Title: Cards
Descr: Sets shape and border of cards
  
--------------------------- */

// default card styles

.card {
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  gap: 1rem;
  // border: 1px solid pink;
  align-items: flex-start;
  figure {
    margin: 0;
    box-shadow: none;
    img {
      border-radius: 2px 2px 0 0;
    }
  }
  > * {
    position: relative;
  }
  a {
    color: var(--as-red-500);
    display: block;
    &:hover {
      color: var(--as-red-500);
    }
  }
}
