/* -------------------------

Title: _photo-with-text
Descr: sets up photo with text items

--------------------------- */
.photo-with-text {
  margin-top: 2rem;
  &__text {
    margin-top: 1rem;
  }
  @include mq(medium) {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    &__image {
      flex: 0 0 40%;
    }
    &__text {
      margin-top: 0;
      flex: 0 0 calc(60% - 2rem);
    }
    h2 + &:first-of-type {
      margin-top: 3rem;
    }
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
    img {
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius);
    }
  }
  &--spotlight {
    // background-image: var(--pt-gradient);
    background-image: linear-gradient(
      130deg,
      var(--as-teal-400) 0%,
      var(--as-teal-200) 6%,
      #f4f6f4 8%
    );
    width: 100%;
    padding: 3rem;
    margin-left: -3rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    .button {
      position: relative;
      &:after {
        position: absolute;
        height: 2px;
        width: 200px;
        top: -1em;
        left: 0;
        content: "";
        background: var(--as-gold-400);
      }
    }
  }
}
