/* -------------------------

Title: pageComponent
Descr: 
    any basic styles for pageComponents

--------------------------- */

.pageComponent {
  clear: both;
}

// pc--rapper with items laid out on specified grid based on numbe of items.

.pcWrapper {
  // margin-bottom: var(--bottom-margin);
  // > .pcWrapper {
  //   // margin-bottom: var(--bottom-margin);
  //   // > .pcWrapper {
  //   // margin-bottom: 0;
  //   // }
  // }
  &.grid {
    display: grid;
    gap: var(--space);
    .items--2 {
      @include medium() {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .items--3 {
      @include medium() {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .items--4 {
      grid-template-columns: 1fr 1fr;
      @include medium() {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  &.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // flex-wrap: wrap;
    @include medium() {
      flex-direction: row;
    }
    > div {
      margin-right: 1rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
    // &.items--4 {
    //   * > {
    //     flex: 0 1 48%;
    //     background: red;
    //   }
    // }
  }
}

// .items--2 {
//   @include medium() {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// .items--3 {
//   @include medium() {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// .items--4 {
//   grid-template-columns: 1fr 1fr;
//   @include medium() {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

//specil for in page-section where they can get stacked
// .pcWrapper--page-section {
//   > .pcWrapper {
//     margin-bottom: var(--margin-3);
//   }
//   > .pcWrapper:last-of-type {
//     .pcWrapper {
//       margin-bottom: 0;
//     }
//   }
// }
