/* -------------------------

Title: pageComponent--figure
Descr: 
    styles for pageComponets as figures


--------------------------- */

.pcWrapper--figure {
  margin-bottom: var(--bottom-margin);
}
