// /* -------------------------

// Title: sidebar navigation
// Descr: sidebarNav small and large, hovers and toggles for subNav

// Still needs: expand toggle for showing sidebar nav on mobile

// --------------------------- */

.nav--site {
  // font-size: var(--base-20);
  position: relative;
  .nav-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--as-white);
    background: var(--as-black);
    font-weight: var(--regular);
    border-radius: var(--border-radius);
    margin-bottom: 0;
    padding: 0.5rem;
    &.active {
      button {
        transform: rotate(180deg);
      }
    }
    .icon--button svg {
      fill: var(--as-white);
    }
    @include medium() {
      display: none;
    }
  }

  .nav {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-weight: var(--regular);
    // font-size: var(--base-20);
    &.shown {
      transform: scale(1, 1);
      transform-origin: top;
      transition: transform 100ms ease-in-out 100ms;
      position: relative;
    }
    @include medium() {
      transform: none;
      position: relative;
      overflow: visible;
    }
    button {
      right: 14px;
      top: 5px;
      padding: 0;
      background: none;
      border: none;
      position: absolute;
      z-index: 10;
      svg {
        fill: var(--as-white);
        @include headerBreak() {
          fill: var(--as-black);
        }
      }
      &:focus {
        opacity: 1;
      }
      &.active {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
      }
      @include medium() {
        display: none;
      }
    }
    a {
      font-weight: var(--regular);
      text-decoration-color: var(--as-gray-300);
      position: relative;
      &:before {
        position: absolute;
        content: "";
        height: calc(100% - 2px);
        width: 4px;
        transform: translateX(-16px);
        // top: 0;
        // background: var(--as-teal-400);
        border-radius: 2px;
        transition: width 250ms;
      }
      &.active {
        // text-decoration-color: var(--as-red-600);
      }
    }
  }
  .nav-0 {
    // background: var(--as-gray-300);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    // width: 100%;
    z-index: 11;
    transform: scale(1, 0);
    transform-origin: top;
    margin-top: -2px;
    // transition: transform 150ms ease-out;
    @include medium() {
      transform: none;
    }
    .nav-0__item {
      // background: var(--as-teal-400);
      margin-bottom: 0;
      position: relative;
      @include medium() {
        background: none;
        margin-bottom: 0.5rem;
        &.has-sub {
          margin-bottom: 0;
        }
      }
    }
    .nav-0__link {
      display: inline-block;
      // position: relative;
      color: var(--as-gray-300);
      background: var(--as-teal-600);
      padding: 0.5rem;
      width: calc(100% - 1rem);
      transition: opacity 150ms ease-in-out;

      &.has-sub {
        background: red;
        width: calc(100% - 3rem);
        border-right: 1px solid var(--as-white);
      }
      @include medium() {
        background: none;
        &:before {
          background: var(--as-teal-300);
        }
        &:hover,
        &.active {
          &:before {
            background: var(--as-teal-600);
          }
        }
        background: none;
        color: var(--as-black);
        padding: 0;
      }
    }
  }

  // universal .nav-1

  .nav-1 {
    // background: var(--as-teal-300);
    border-radius: 0;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    transform: scaleY(0);
    transform-origin: top;
    &.expanded {
      opacity: 1;
      transform: scaleY(1);
      position: relative;
    }
    @include medium() {
      margin-top: 0.25rem;
    }
    // nav-1__item
    .nav-1__item {
      // mobile
      @include medium() {
        margin-bottom: 0.5rem;
      }
    }
    // nav-1__link
    .nav-1__link {
      padding: 0.5rem 0 0.5rem 1rem;
      color: var(--as-black);
      background: var(--as-teal-300);
      text-decoration: underline;
      display: block;
      &:hover,
      &:focus {
        // background-color: var(--as-teal-200);
      }
      @include medium() {
        padding: 0 0 0 0.5rem;
        background: none;
        &:before {
          background: var(--as-teal-400);
        }
        &.active:before {
          width: 6px;
        }
      }
    }
  }
  @include medium() {
    background: transparent;
    position: relative;
    transform: none;
    overflow: visible;
    font-size: var(--base-18);
    .nav-0,
    .nav-1 {
      background: transparent;
    }
    .nav-1 {
      position: relative;
      transform: none;
    }
  }
}
