// /* -------------------------

// Title: sidebar navigation
// Descr: sidebarNav small and large, hovers and toggles for subNav

// Still needs: expand toggle for showing sidebar nav on mobile

// --------------------------- */

.nav--site {
  // font-size: var(--base-20);
  position: relative;
  .nav-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--as-white);
    background: var(--as-black);
    font-weight: var(--regular);
    border-radius: var(--border-radius);
    margin-bottom: 0;
    padding: 0.5rem;
    &.active {
      button {
        transform: rotate(180deg);
      }
    }
    .icon--button svg {
      fill: var(--as-white);
    }
    @include mq(medium) {
      display: none;
    }
  }

  .nav {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 0;
    font-weight: var(--regular);
    font-size: var(--base-18);

    &.shown {
      max-height: 100%;
    }
    @include mq(medium) {
      // transform: none;
      position: relative;
      overflow: visible;
    }
    button {
      padding: 0;
      background: var(--as-gray-200);
      border-radius: 0;
      flex: 0 0 1rem;
      svg {
        fill: var(--as-black);
      }
      &:focus {
        opacity: 1;
      }
      // &.active {
      //   transform: rotate(180deg);
      //   transform-origin: 50% 50%;
      // }
      @include mq(medium) {
      }
    }
    a {
      font-weight: var(--regular);
      text-decoration-color: var(--as-gray-300);
      position: relative;
      &:before {
        position: absolute;
        content: "";
        height: 1em;
        top: calc(50% - 0.6em);
        width: 4px;
        transform: translateX(-12px);
        border-radius: 2px;
      }
      &.active {
      }
    }
  }
  .nav-0 {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    @include mq(medium) {
      max-height: 100%;
    }
    .nav-0__item {
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      @include mq(medium) {
        margin-bottom: 0.5rem;
        &.has-sub {
          margin-bottom: 0;
        }
        &.subnav-open {
          ul {
            max-height: 100%;
          }
          button {
            transform: rotate(180deg);
            transform-origin: 50% 50%;
          }
        }
      }
    }
    .nav-0__link {
      display: inline-block;
      color: var(--as-gray-600);
      background: var(--as-gray-200);
      padding: 0.5em 0 0.5em 0.75em;
      width: 100%;
      transition: opacity 150ms ease-in-out;
      flex: 1 0 calc(100% - 1.75rem);

      &:before {
        background: var(--as-teal-300);
      }
      &:hover,
      &.active {
        &:before {
          background: var(--as-teal-600);
        }
      }
    }
  }

  .nav-1 {
    border-radius: 0;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    // transform: scaleY(0);
    // transform-origin: top;
    &.expanded {
      opacity: 1;
      transform: scaleY(1);
      position: relative;
    }
    @include mq(medium) {
      margin-top: 0.25rem;
    }
    .nav-1__item {
      overflow: hidden;
      @include mq(medium) {
        margin-bottom: 0.5rem;
      }
    }
    .nav-1__link {
      padding: 0.5rem 0 0.5rem 1rem;
      color: var(--as-black);
      background: var(--as-teal-300);
      text-decoration: underline;
      display: block;
      &:hover,
      &:focus {
        // background-color: var(--as-teal-200);
      }
      @include mq(medium) {
        padding: 0 0 0 0.5rem;
        background: none;
        &:before {
          background: var(--as-teal-400);
        }
        &.active:before {
          width: 6px;
        }
      }
    }
  }
  @include mq(medium) {
    // background: transparent;
    // position: relative;
    // transform: none;
    overflow: visible;
    .nav-0,
    .nav-1 {
      background: transparent;
    }
    .nav-1 {
      // position: relative;
      // transform: none;
    }
  }
}
