// /* -------------------------

// Title: sidebar navigation
// Descr: sidebarNav small and large, hovers and toggles for subNav

// Still needs: expand toggle for showing sidebar nav on mobile

// --------------------------- */

.nav--site {
  // font-size: var(--base-20);
  position: relative;
  .nav-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin-bottom: 0;
    padding: 0.5rem;
    &.active {
      button {
        transform: rotate(180deg);
      }
    }
    @include medium() {
      display: none;
    }
  }

  .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    &.shown {
      transform: scale(1, 1);
      transform-origin: top;
      transition: transform 250ms ease-in-out 250ms;
      position: relative;
    }
    @include medium() {
      transform: none;
      position: relative;
    }
    button {
      right: 5px;
      top: 5px;
      padding: 0;
      background: none;
      border: none;
      position: absolute;
      z-index: 10;
      svg {
        fill: var(--as-white);
        @include headerBreak() {
          fill: var(--as-black);
        }
      }
      &:focus {
        opacity: 1;
      }
      &.active {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
      }
    }
    a {
      font-weight: var(--light);
      &.active {
        font-weight: var(--regular);
      }
    }
  }
  .nav-0 {
    background: var(--as-gray-300);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    // width: 100%;
    z-index: 11;
    transform: scale(1, 0);
    transform-origin: top;
    // transition: transform 150ms ease-out;
    @include medium() {
      transform: none;
    }
    > .nav-0__item {
      background: var(--as-teal-400);
      margin-bottom: 0;
      position: relative;
    }
    .nav-0__link {
      display: inline-block;
      position: relative;
      color: var(--as-gray-300);
      background: var(--as-black);
      padding: 0.5rem;
      width: 100%;
      transition: opacity 150ms ease-in-out;
      &.has-sub {
        background: red;
        width: calc(100% - 3rem);
        border-right: 1px solid var(--as-white);
      }
    }
  }

  // universal .nav-1

  .nav-1 {
    // background: var(--as-teal-300);
    border-radius: 0;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    transform: scaleY(0);
    transform-origin: top;
    &.expanded {
      opacity: 1;
      transform: scaleY(1);
      position: relative;
    }
    a {
      padding: 0.5rem 0 0.5rem 1rem;
      color: var(--as-black);
      text-decoration: underline;
      display: block;
      &:hover,
      &:focus {
        background-color: var(--as-white);
      }
    }
  }
  @include medium() {
    background: pink;
    position: relative;
    transform: none;
    overflow: visible;
    .nav-1 {
      position: relative;
      transform: none;
    }
  }
}
