:first-of-type/* -------------------------

Title: main navigation
Descr: nav--main small and large, hovers and toggles for subNav
       
Still needs: expand toggle for showing main nav on mobile

--------------------------- */
.nav--main {
  position: relative;
  // font-weight: var(--regular);
  font-size: var(--base-18);
  position: absolute;
  z-index: 10;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  @include mq(medium) {
    position: relative;
  }
  @include mq(header) {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 0;
  }
  @include mq(large) {
    justify-content: flex-end;
  }
  .nav {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @include mq(medium) {
      position: relative;
    }
    button {
      padding: 0;
      background: var(--as-black);
      border-radius: 0;
      flex: 0 0 2rem;
      margin-bottom: 1px;
      @include mq(medium) {
        background: transparent;
      }
      svg {
        fill: var(--as-white);
        @include mq(medium) {
          fill: var(--as-black);
        }
      }
      &:focus {
        opacity: 1;
      }
      @media (any-hover: hover) and (pointer: fine) {
        // opacity: 0;
      }
      &.active {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
      }
    }
    a {
      // font-weight: var(--regular);
      text-decoration-color: var(--as-gray-300);
      position: relative;
      display: block;
      &.active {
        // font-weight: var(--regular);
      }
    }
  }
  .nav-0 {
    // border-radius: var(--border-radius);
    max-height: 0;

    background: var(--as-white);
    @include mq(medium) {
      max-height: 100%;
      flex-direction: row;
      overflow: visible;
      margin-bottom: 0;
      display: inline-flex;
    }
    @include mq(large) {
      justify-content: flex-end;
    }
    &.shown {
      max-height: 100%;
      margin-bottom: 1rem;
    }
  }
  .nav-0__item {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      width: 4px;
      // transform: translateX(-1em);
      border-radius: 2px;
      background: var(--as-teal-300);
    }
    &.subnav-open,
    &:hover {
      // overflow: visible;
      ul {
        max-height: 1000px;
      }
      button {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
      }
    }
    &.has-sub {
      .nav-0__link {
        flex: calc(100% - 3rem);
        padding: 1em 0 1em 1em;
      }
      button {
        flex: 1rem;
        padding: 0 0.5em;
      }
    }
    @include mq(medium) {
      flex: 1 0 auto;
      flex-wrap: nowrap;

      &:after {
        width: calc(100% - 1em);
        height: 4px;
        transform: translateX(-100%);
        transition: transform 100ms ease-in;
      }
      &:hover,
      &.subnav-open {
        // overflow: visible;
        &:after {
          transform: translateX(0%);
        }
      }
      &.active {
        &:after {
          background: var(--as-red-400);
          transform: translateX(0%);
        }
      }
    }
  }
  .nav-0__link {
    color: var(--as-gray-200);
    background: var(--as-black);
    padding: 1em 0.5em;
    width: 100%;
    margin-right: 1em;
    transition: opacity 150ms ease-in-out;
    margin-bottom: 1px;
    font-weight: var(--semi);
    &:hover,
    &.active {
      &:before {
        background: var(--as-teal-600);
      }
    }
    @include mq(medium) {
      background: transparent;
      color: var(--as-black);
      white-space: nowrap;
      &:before {
        top: 0;
        width: 100%;
        height: 4px;
      }
    }
  }
  .nav-1 {
    border-radius: 0;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    max-height: 0;
    background: var(--as-gray-200);
    overflow: visible;
    z-index: 1;
    box-shadow: var(--box-shadow);
    .nav-1__item {
    }
    .nav-1__link {
      padding: 1em 1em 1em 1.5em;
      color: var(--as-black);
      background: var(--as-white);
      text-decoration: underline;
      display: block;
      margin-bottom: 1px;
      overflow: hidden;
      @include mq(medium) {
        padding: 1em;
      }
      &:before {
        background: var(--as-teal-400);
        transform: translateX(-1.5em);
        position: absolute;
        content: "";
        height: 100%;
        top: 0;
        width: 4px;
        border-radius: 2px;
        @include mq(medium) {
          top: calc(100% - 4px);
          width: 100%;
          height: 4px;
          background: var(--as-red-400);
          transform: translateX(calc((100% + 1em) * -1));
          transition: all 250ms ease-in;
        }
      }
      &:hover,
      &:focus {
        background: var(--as-gray-200);
        @include mq(medium) {
          &::before {
            transform: translateX(-1em);
          }
        }
      }
      &.active {
        @include mq(medium) {
          &::before {
            transform: translateX(-1em);
          }
        }
      }
    }
    &.shown {
      max-height: 100%;
    }
    @include mq(medium) {
      width: 260px;
      flex-direction: column;
      position: absolute;
      top: 100%;
    }
  }
}
