/* -------------------------

Title: Article cards and teasers
Descr: 
   - article--card
   - article--card-small
   - article--teaser

--------------------------- */

.article--card {
  box-shadow: var(--box-shadow);
  .article__copy {
    padding: 0 1rem;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "label label label"
      "title title title"
      "date byline byline";
  }
  .article__title {
    grid-area: title;
    margin: 0.5em 0 1em 0;
    font-weight: var(--regular);
    font-size: var(--base-24);
    line-height: 1.4;
  }
  .article__label {
    grid-area: label;
    color: var(--as-black);
    font-size: var(--base-16);
    font-weight: var(--semi);
    font-family: var(--font-serif);
    margin-top: 0.5em;
  }
  .article__date {
    grid-area: date;
    text-align: left;
    font-size: var(--base-16);
    margin-top: 2px;
  }
  .article__byline {
    grid-area: byline;
    font-size: var(--base-16);
    text-align: right;
  }
  // links for article cards
  a.article__title-link {
    display: block;
    color: var(--as-teal-500);

    padding-bottom: 1em;
    text-decoration: underline;
    text-decoration-color: var(--as-teal-300);
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 50%;
      height: 1px;
      bottom: 0;
      left: 25%;
      transition: all 0.2s;
      background-image: red;
    }
    &:hover {
      &:before {
        left: 0;
        width: 100%;
      }
    }
  }
}

.article--card-small {
  border: none;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: none;
  box-shadow: none;
  :before {
    display: none;
  }
  figure,
  img {
    flex: 0 0 30%;
    // margin-right: 1rem;
    border-radius: var(--border-radius);
    // @include boxShadow();
  }
  .article__copy {
    flex: 1 0 60%;
    padding: 0;
  }
  .article__title {
    grid-area: title;
    margin: 0;
    font-size: var(--base-20);
    line-height: 1.2;
    font-weight: var(--regular);
  }

  .article__label {
    font-size: var(--base-18);
    font-family: var(--font-serif);
    font-weight: var(--semi);
  }
  figcaption {
    @extend .sr-only;
  }
  .toggle--figcaption {
    display: none;
  }
}
