/* -------------------------

Title: headings.
Descr: 
    Sets basic styles for h1-h4

--------------------------- */

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  font-weight: var(--semi);
  color: var(--as-gray-700);
  clear: both;
  margin: 0;
  line-height: 1;
}
* + h2,
* + h3 {
  // background: red;
  margin-top: 1em;
}

h1 {
  @extend .base-64;
  @include mq(xl) {
    font-size: var(--base-84);
  }

  &.h1--title,
  &.title {
    // margin-top: 0;
    font-family: var(--font-serif);
    font-weight: var(--heavy);
    // @include text-gradient(var(--storm-radial));
  }
}

h2 {
  font-size: 1.75rem;
}

// h2 after an eyebrow gets less margin top
.eyebrow + h2 {
  margin-top: 0.35em !important;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  // margin: 0 0 1em 0;
}

// Sidebar sizes for component headers
.sidebar {
  h2 {
    font-size: calc(1.5 * var(--base-font-size));
  }
  h4 {
    @extend .base-24;
  }
}
