/* -------------------------

Title: links.scss
Descr: 
    Sets basic styles text links

--------------------------- */

a {
  color: var(--as-red-400);
  text-decoration-color: var(--as-gray-200);
}
