/* -------------------------

Title: _list-layouts.scss
Descr: 
    Sets styles for all list layouts. Primarily is a list a flex or grid etc.

--------------------------- */

// flex lists
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.flex--2 {
  div {
    flex: 48%;
  }
}
.flex--4 {
  div {
    flex: 25%;
  }
}
.flex--3 {
  div {
    flex: 31%;
  }
}

// grid lists
.grid {
  display: grid;
  gap: 1rem;
  margin-top: var(--margin-1);
}
.grid--2 {
  grid-template-columns: 1fr 1fr;
}
.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}
