/* -------------------------

Title: _formatted-text block
Descr: sets up all uniquie styles for formatted text block

--------------------------- */

.paragraph--type--formatted-text-block {
  margin-top: 1em;
}
