/* -------------------------

Title: _stat-wrapper
Descr: sets up all uniquie styles for Stats wrapper 
  

  .stat-wrapper

--------------------------- */

// pcWrapper--stat
.stat-wrapper {
  // margin-bottom: var(--bottom-margin);
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--as-gray-300);
}
