/*

Base .scss aggregator for departmetn and program sites

*/
/*
  -solid colors
  -gradients
*/
:root {
  --as-white: #fff;
  --as-black: #000;
  --as-gray-200: hsl(0, 0%, 96%);
  --as-gray-300: hsl(0, 0%, 90%);
  --as-gray-400: hsl(0, 0%, 80%);
  --as-gray-500: hsl(0, 0%, 60%);
  --as-gray-600: hsl(0, 0%, 30%);
  --as-gray-700: hsl(0, 0%, 4%);
  --as-red-200: hsl(0, 74%, 90%);
  --as-red-300: hsl(0, 74%, 60%);
  --as-red-400: hsl(0, 74%, 40%);
  --as-red-500: hsl(0, 74%, 30%);
  --as-red-600: hsl(0, 72%, 13%);
  --as-teal-200: hsl(185, 39%, 90%);
  --as-teal-300: hsl(185, 39%, 76%);
  --as-teal-400: hsl(185, 39%, 45%);
  --as-teal-500: hsl(185, 39%, 35%);
  --as-teal-600: hsl(185, 39%, 22%); }

/*

  - all non color variables

*/
:root {
  /*
----
FONTS
----
*/
  --font-sans: "canada-type-gibson", sans-serif;
  --font-serif: "freight-macro-pro", serif;
  --base-font-size: 20px;
  --base-16: 0.666rem;
  --base-18: 0.75rem;
  --base-20: 0.8333rem;
  --base-24: 1rem;
  --base-28: 1.2rem;
  --base-36: 1.5rem;
  --base-48: 2rem;
  --base-56: 2rem;
  --base-64: 2rem;
  --base-84: 2rem;
  --light: 200;
  --regular: 400;
  --semi: 600;
  --heavy: 800;
  /*
----
LINE WIDTH AND HEIGHT
----
*/
  --line-height: 1.4;
  --line-width: 60ch;
  /*
----
BORDERS
----
*/
  --border-width: 1px;
  --border-color: var(--as-gray-400);
  --border-radius: 4px; }
  @media (min-width: 782px) {
    :root {
      --base-font-size: 24px; } }
  @media (min-width: 782px) {
    :root {
      --base-56: 2.33rem; } }
  @media (min-width: 782px) {
    :root {
      --base-64: 2.66rem; } }
  @media (min-width: 1224px) {
    :root {
      --base-84: 3.5rem; } }

/*
----
font size mixins
----
*/
.base-24 {
  font-size: var(--base-24);
  line-height: var(--line-height); }

.base-28, .basicSidebar .content > .pageComponent--ftb > p:first-of-type {
  font-size: var(--base-28);
  line-height: 1.4; }

.base-36 {
  font-size: var(--base-36);
  margin-bottom: 0;
  margin-top: 1em; }

.base-48 {
  font-size: var(--base-48);
  margin-bottom: 0.5em;
  line-height: 1em; }

.base-56 {
  font-size: var(--base-56);
  margin-bottom: 0.44em;
  line-height: 1.2em; }

.base-64 {
  font-size: var(--base-64);
  line-height: 1em; }

.base-84 {
  font-size: var(--base-84);
  line-height: 0.9em;
  margin-bottom: 1em; }

/* -------------------------

Title: _base.scss
Descr: sets HTML and Body styles

--------------------------- */
html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth; }

body {
  font-family: var(--font-sans);
  font-size: var(--base-font-size);
  color: var(--dark-text);
  font-weight: var(--light);
  line-height: var(--line-height);
  overflow-x: hidden;
  padding: 0 1rem;
  margin: 0; }
  @media (min-width: 782px) {
    body {
      padding: 0 2rem; } }

/* -------------------------

Title: <main> layouts.
Descr: 
    main content is the <main> tag. It is where the main components are. It is a child of the .container.
  - specific grid layouts on page css's
  * _article
  * _basicPage
  * _landingPage
  * _major-minor-grad
  * _view-list

--------------------------- */
.main {
  max-width: 1432px;
  margin: 0 auto var(--bottom-margin) auto;
  display: grid;
  grid-gap: 2rem;
  grid-row-gap: 0;
  opacity: 1;
  transition: opacity 150ms ease-in-out; }
  .main.fade {
    opacity: 0.25;
    transition: opacity 250ms ease-in-out 250ms; }
  .main .sidebar h3 {
    margin-bottom: 1em; }

/*

Basic text styles

*/
h1 {
  color: yellow; }

/* -------------------------

Title: Visibilities 
Descr: any hiding or showin

--------------------------- */
.hidden {
  display: none; }

.offscreen {
  position: absolute;
  z-index: -1; }

.sr-only {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
  white-space: nowrap;
  position: absolute; }

/* -------------------------

Title: Buttons and links that look like buttons
Descr: 
   - iconButton
    -- a button that has an svg icon in the middle

--------------------------- */
/*
----
ICON/SVG buttons
----
*/
.icon {
  background: none;
  border: none; }

.iconButton {
  line-height: 1; }

.icon--button svg {
  width: 1.5rem; }

/* -------------------------

Title: main navigation
Descr: mainNav small and large, hovers and toggles for subNav
       
Still needs: expand toggle for showing main nav on mobile

--------------------------- */
.mainNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  font-size: var(--base-20);
  background: var(--as-black);
  padding: 0 1rem;
  margin-top: 1rem;
  padding: 0;
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 11;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 150ms ease-out; }
  .mainNav.shown {
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 250ms ease-in-out 250ms; }
    .mainNav.shown .mainNav__link {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms; }
  .mainNav .mainNav__item {
    margin-bottom: 0;
    max-width: 100%;
    background: var(--as-teal-600); }
  .mainNav .mainNav__link {
    color: var(--as-gray-300);
    font-weight: var(--light);
    display: inline-block;
    width: calc(100% - 2.1rem);
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-right: 1px solid var(--as-white);
    background: var(--as-black);
    text-decoration: underline;
    opacity: 0;
    transition: opacity 150ms ease-in-out; }
  .mainNav .mainNav__subNavToggle {
    width: 1rem;
    left: 2px;
    top: -2px;
    padding: 0;
    background: none;
    border: none;
    position: relative;
    z-index: 10; }
    .mainNav .mainNav__subNavToggle svg {
      fill: var(--as-white); }
      @media (min-width: 900px) {
        .mainNav .mainNav__subNavToggle svg {
          fill: var(--as-black); } }
    .mainNav .mainNav__subNavToggle:focus {
      opacity: 1; }
    .mainNav .mainNav__subNavToggle.rotated {
      transform: rotate(180deg);
      transform-origin: 50% 50%; }
    @media (min-width: 900px) {
      .mainNav .mainNav__subNavToggle {
        width: 0.75rem;
        left: -7px;
        top: 0;
        opacity: 0;
        -ms-flex-align: center;
            align-items: center; } }
  @media (min-width: 782px) {
    .mainNav {
      overflow: visible;
      box-shadow: none;
      background: transparent;
      color: var(--as-black);
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0;
      transform: none;
      width: 100%;
      position: relative; }
      .mainNav .mainNav__item {
        position: relative;
        background: none; }
        .mainNav .mainNav__item:after {
          position: absolute;
          content: "";
          width: calc(100% - 27px);
          height: 3px;
          background: var(--as-red-400);
          top: 0;
          left: 0;
          transform: scaleX(0);
          transition: all 0.15s ease-in;
          visibility: hidden;
          border-radius: 2px; }
        .mainNav .mainNav__item .mainNav__link {
          background: none;
          opacity: 1; }
        .mainNav .mainNav__item:hover {
          -webkit-text-decoration-color: var(--as-gray-500);
                  text-decoration-color: var(--as-gray-500);
          overflow: visible; }
          .mainNav .mainNav__item:hover:after {
            visibility: visible;
            transform: scaleX(1);
            transition: all 0.25s ease-out; }
          .mainNav .mainNav__item:hover > .mainNav__link {
            background: var(--as-gray-300);
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1); }
        .mainNav .mainNav__item.mainNav__item--active {
          -webkit-text-decoration-color: var(--as-gray-500);
                  text-decoration-color: var(--as-gray-500); }
          .mainNav .mainNav__item.mainNav__item--active:after {
            visibility: visible;
            transform: scaleX(1);
            transition: all 0.25s ease-out;
            background: var(--as-teal-600); }
      .mainNav .mainNav__link {
        color: var(--dark-text);
        -webkit-text-decoration-color: var(--as-gray-300);
                text-decoration-color: var(--as-gray-300);
        padding: 0.5rem;
        width: auto;
        font-weight: var(--semi); }
      .mainNav li {
        position: relative;
        overflow: hidden;
        display: inline-block;
        z-index: 1; } }
    @media (min-width: 782px) and (min-width: 900px) {
      .mainNav li {
        overflow: visible; } }
  @media (min-width: 782px) {
        .mainNav li[class$="with-sub"] {
          margin-right: 0;
          overflow: hidden; }
        .mainNav li:last-of-type {
          margin-right: 0;
          padding-right: 0; }
        .mainNav li:hover, .mainNav li:focus, .mainNav li.withSubNav--expanded {
          overflow: visible; }
          .mainNav li:hover .subNav, .mainNav li:focus .subNav, .mainNav li.withSubNav--expanded .subNav {
            max-height: 1000px;
            opacity: 1;
            transition: opacity 250ms ease-in-out;
            top: 100%;
            z-index: 10; }
        .mainNav li:last-of-type:hover .subNav {
          right: 21px; } }
  @media (min-width: 1224px) {
    .mainNav {
      -ms-flex-pack: end;
          justify-content: flex-end; } }
  .mainNav .subNav {
    text-align: left;
    max-height: 0;
    margin-bottom: 0;
    list-style-type: none;
    background: var(--as-gray-300);
    font-weight: var(--regular);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    width: 100%;
    padding-left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 150ms ease-in-out; }
    .mainNav .subNav.subNav--expanded {
      max-height: 100%;
      opacity: 1;
      transition: opacity 250ms ease-in-out 150ms; }
    @media (min-width: 900px) {
      .mainNav .subNav {
        width: 260px;
        position: absolute;
        font-size: var(--base-18);
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
        overflow: visible; } }
    .mainNav .subNav li {
      margin: 0;
      padding: 0;
      max-width: 100%; }
    .mainNav .subNav a {
      padding: 0.5rem 0 0.5rem 1rem;
      display: block;
      position: relative;
      color: var(--as-black);
      border-top: none;
      text-decoration: underline; }
      .mainNav .subNav a:hover, .mainNav .subNav a:focus {
        background-color: var(--as-white); }
        @media (min-width: 900px) {
          .mainNav .subNav a:hover, .mainNav .subNav a:focus {
            color: var(--as-white);
            background: var(--as-red-400); }
            .mainNav .subNav a:hover:after, .mainNav .subNav a:hover:before, .mainNav .subNav a:focus:after, .mainNav .subNav a:focus:before {
              position: absolute;
              content: "";
              width: 0.25rem;
              height: 100%;
              top: 0;
              background: var(--as-red-400);
              border-radius: 4px; }
            .mainNav .subNav a:hover:after, .mainNav .subNav a:focus:after {
              right: -0.125rem; }
            .mainNav .subNav a:hover:before, .mainNav .subNav a:focus:before {
              left: -0.125rem; } }
      @media (min-width: 900px) {
        .mainNav .subNav a {
          margin-left: 0; } }

.expand-sub {
  background: none;
  border: none;
  padding: 0; }
  .expand-sub svg {
    fill: var(--as-black); }
  @media (min-width: 900px) {
    .expand-sub svg {
      fill: none; }
    .expand-sub:focus svg {
      fill: var(--as-black); } }

.main-nav-toggle {
  background: none;
  border: none; }

@keyframes navDrop {
  0% {
    max-height: 0%; }
  100% {
    max-height: 100%; } }

/* -------------------------

Title: Site footer styles
Descr: Set
        - footer
        - for current student menu
        - footer menus
all search form design in _forms.scss

--------------------------- */
footer {
  background: var(--as-black);
  color: var(--as-white);
  font-size: var(--base-20);
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 3rem 2rem;
  margin-left: -2rem; }
  footer:before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    margin: 0 -0.5rem -0.5rem 0;
    content: "";
    background-image: var(--ampresand);
    background-size: 600%;
    animation: bg-animation 10s infinite alternate;
    z-index: -1;
    -webkit-clip-path: url(#bigamp);
            clip-path: url(#bigamp);
    z-index: 1; }
    @media (min-width: 1224px) {
      footer:before {
        top: 0;
        bottom: 0;
        right: 0;
        width: 702px;
        height: 105%;
        margin: -0.5rem -2rem; } }
  footer h2 {
    font-size: var(--base-28);
    color: var(--as-white); }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
  footer .footer {
    margin: 0 auto;
    max-width: var(--xl);
    font-weight: var(--light);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    z-index: 2; }
    @media (min-width: 782px) {
      footer .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 1rem; } }
    @media (min-width: 1224px) {
      footer .footer {
        grid-template-columns: repeat(12, 1fr); } }
    footer .footer__currentStudents {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
      margin-bottom: 2rem;
      font-size: 1.2em; }
      @media (min-width: 1224px) {
        footer .footer__currentStudents {
          grid-column: 1 / 4;
          grid-row: 1 / 1; } }
    footer .footer__importantLinks {
      grid-column: 2 / -1;
      grid-row: 1; }
      @media (min-width: 1224px) {
        footer .footer__importantLinks {
          grid-column: 4 / -1;
          grid-row: 1 / 1; } }
      footer .footer__importantLinks > ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        footer .footer__importantLinks > ul > li {
          -ms-flex: 0 0 45%;
              flex: 0 0 45%;
          font-weight: var(--regular); }
          @media (min-width: 1224px) {
            footer .footer__importantLinks > ul > li {
              -ms-flex: 0 1 23%;
                  flex: 0 1 23%; } }
          footer .footer__importantLinks > ul > li > a {
            margin-bottom: 0.5em;
            display: block; }
        footer .footer__importantLinks > ul ul {
          font-weight: var(--light); }
    footer .footer__logo {
      grid-column: 1 / -1;
      grid-row: 2;
      margin-bottom: 2rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      @media (min-width: 1224px) {
        footer .footer__logo {
          grid-column: 1 / 5;
          grid-row: 2; } }
    footer .footer__address {
      grid-column: 2;
      grid-row: 3;
      font-size: var(--base-16); }
      @media (min-width: 1224px) {
        footer .footer__address {
          grid-column: 6 / 8;
          grid-row: 2; } }
    footer .footer__contacts {
      grid-column: 1;
      grid-row: 3;
      font-size: var(--base-16); }
      @media (min-width: 1224px) {
        footer .footer__contacts {
          grid-column: 8 / 10;
          grid-row: 2; } }
    footer .footer__socialLinks {
      grid-column: 3;
      grid-row: 3;
      font-size: var(--base-16); }
      @media (min-width: 1224px) {
        footer .footer__socialLinks {
          grid-column: 11 / -1;
          grid-row: 2; } }
    footer .footer .socialLink:before {
      background: var(--as-white); }
    footer .footer__otherInformation {
      grid-column: 1 / -1;
      grid-row: 4; }
  footer .cu-logo {
    display: none; }
    @media (min-width: 480px) {
      footer .cu-logo {
        display: block;
        text-indent: -9999px;
        width: 73px;
        height: 73px;
        background: url(/themes/custom/discovery/images/cornell-white.svg);
        background-repeat: no-repeat;
        background-size: 73px 73px; } }
  footer a {
    color: var(--as-white);
    -webkit-text-decoration-color: var(--as-blue-gray);
            text-decoration-color: var(--as-blue-gray); }
    footer a.btn {
      font-weight: var(--semi);
      text-decoration: underline; }
  footer .as-logo {
    text-indent: -9999px;
    width: 238px;
    height: 71px;
    background: url(/themes/custom/discovery/images/the-college-two-line-white.svg);
    background-size: 238px 71px;
    background-repeat: no-repeat;
    position: relative; }
    @media (min-width: 480px) {
      footer .as-logo {
        margin-left: 38px; }
        footer .as-logo:before {
          position: absolute;
          width: 1px;
          background: var(--as-gray-400);
          height: 100%;
          top: 0;
          left: -19px;
          content: ""; } }

@media (min-width: 480px) {
  .extraLinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: var(--base-18); }
    .extraLinks li {
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: 1px solid var(--gray-dark); }
      .extraLinks li:last-of-type {
        padding-right: 0;
        border: none; } }

.toTopButton {
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  background: var(--gray-lightest);
  border-radius: var(--border-radius);
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  font-weight: var(--semi);
  font-size: var(--base-18);
  color: var(--as-black);
  padding-bottom: 4px;
  opacity: 0;
  transition: opacity 250ms ease-in-out; }
  .toTopButton:before {
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    content: "";
    top: 16px;
    left: 18px;
    background: var(--as-purple);
    -webkit-clip-path: url(#chevron-up);
            clip-path: url(#chevron-up);
    transition: transform 250ms; }
  .toTopButton.show {
    opacity: 1; }
  .toTopButton:hover:before {
    transform: translateY(-4px) scale(1.1); }

/* -------------------------

Title: Site header styles
Descr: Set 
        - #skip
        - header
        - .cu-logo
        - .as-logo
all search form design in _forms.scss

--------------------------- */
#skip {
  position: absolute;
  top: -20px;
  z-index: 3; }
  #skip a {
    z-index: 0;
    position: absolute;
    left: -5000px;
    width: 300px;
    font-weight: 600; }
    #skip a:focus {
      left: 200px; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px auto auto auto;
  margin: 0 auto;
  max-width: var(--xl);
  position: relative; }
  @media (min-width: 782px) {
    header {
      grid-template-columns: 1fr 1fr auto;
      margin: 1rem auto 2rem auto; } }
  @media (min-width: 900px) {
    header {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      -ms-flex-align: center;
          align-items: center;
      margin: 1rem auto 2rem auto; } }
  header .header__searchForm {
    grid-column: 1 / -1;
    grid-row: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (min-width: 782px) {
      header .header__searchForm {
        grid-row: 4; } }
    @media (min-width: 1224px) {
      header .header__searchForm {
        grid-row: 3; } }
  header .cu-logo {
    text-indent: -9999px;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 200px;
    height: 45px;
    grid-column: 1 / 1;
    -ms-flex-item-align: center;
        align-self: center;
    background: url(/themes/custom/discovery/images/cornell-reduced-black.svg);
    background-repeat: no-repeat;
    background-size: 200px 45px; }
  header .department-logo {
    text-indent: -9999px;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 1rem 0;
    background: url(/themes/custom/discovery/images/TEST-NES-oneline.svg);
    background-size: contain;
    background-repeat: no-repeat; }
    @media (min-width: 1224px) {
      header .department-logo {
        background: url(/themes/custom/discovery/images/TEST-NES.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 70px; } }
  header .as-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    grid-column: 2;
    grid-row: 1;
    background: url(/themes/custom/discovery/images/AS.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    text-indent: -5000px; }
    @media (min-width: 782px) {
      header .as-logo {
        background: url(/themes/custom/discovery/images/Arts-and-sciences.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        justify-self: flex-end;
        -ms-flex-item-align: center;
            align-self: center; } }
    @media (min-width: 900px) {
      header .as-logo {
        background: url(/themes/custom/discovery/images/the-college-one-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 300px;
        justify-self: flex-end;
        -ms-flex-item-align: center;
            align-self: center; } }
  header .header__mainNav {
    grid-column: 1 / -1;
    grid-row: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (min-width: 782px) {
      header .header__mainNav {
        grid-column: 1/-1;
        grid-row: 3; } }
    @media (min-width: 1224px) {
      header .header__mainNav {
        grid-row: 2;
        grid-column: 2 / -1; } }
  header .header__buttons {
    grid-column: 2;
    grid-row: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center; }
    @media (min-width: 782px) {
      header .header__buttons {
        grid-column: 3; } }
    header .header__buttons button {
      border: none;
      background: none;
      cursor: pointer; }
    @media (min-width: 782px) {
      header .header__buttons .iconButton--showNav {
        display: none; } }
    @media (min-width: 1224px) {
      header .header__buttons {
        grid-column: 3;
        grid-row: 1; } }
    @media (min-width: 1432px) {
      header .header__buttons {
        grid-row: 1; } }
  header .main-nav-toggle {
    grid-area: navIcon; }

@media (min-width: 1432px) {
  body.landing_page header {
    padding: 6rem 1rem 5rem 1rem; } }

/* -------------------------

Title: <main> .basicSidebar
Descr: 
   basicSidebar specific 

--------------------------- */
.basicSidebar {
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "nav" "title" "aside" "content" "sidebar"; }
  .basicSidebar .nav--site {
    grid-area: nav; }
  .basicSidebar .title {
    grid-area: title; }
    .basicSidebar .title h1 {
      text-align: center;
      font-family: var(--font-serif);
      font-weight: var(--semi); }
      @media (min-width: 1224px) {
        .basicSidebar .title h1 {
          text-align: left;
          margin-top: 0; } }
  .basicSidebar .sidebar {
    grid-area: sidebar; }
  .basicSidebar .content {
    grid-area: content; }
  .basicSidebar aside {
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    z-index: 1; }
    @media (min-width: 782px) {
      .basicSidebar aside {
        grid-area: aside; } }
    .basicSidebar aside .page_component_entity {
      display: none; }
      @media (min-width: 1224px) {
        .basicSidebar aside .page_component_entity {
          display: block; } }
  @media (min-width: 782px) {
    .basicSidebar {
      grid-template-areas: ". title title title title title title title title title title ." "nav nav nav content content content content content content content content content" "sidebar sidebar sidebar content content content content content content content content content"; } }
  @media (min-width: 1224px) {
    .basicSidebar {
      grid-template-columns: repeat(24, 1fr);
      grid-template-areas: ". . . . . title title title title title title title title title title title title title title title . . . ." "nav nav nav nav nav content content content content content content content content content content content content content content content aside aside aside aside" "sidebar sidebar sidebar sidebar sidebar content content content content content content content content content content content content content content content aside aside aside aside"; } }
  @media (min-width: 782px) {
    .basicSidebar--has-aside {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: ". title title title title title title title title title title ." "nav nav nav aside aside aside aside aside aside aside aside aside" "nav nav nav content content content content content content content content content" "sidebar sidebar sidebar content content content content content content content content content"; } }
  @media (min-width: 1224px) {
    .basicSidebar--has-aside {
      grid-template-columns: repeat(24, 1fr);
      grid-template-areas: ". . . . . title title title title title title title title title title title title title title title . . . ." "nav nav nav nav nav content content content content content content content content content content content content content content content aside aside aside aside" "sidebar sidebar sidebar sidebar sidebar content content content content content content content content content content content content content content content aside aside aside aside"; } }
  .basicSidebar .content > h2:first-of-type {
    margin-top: 0; }
  .basicSidebar .pcWrapper {
    margin-bottom: 3rem; }

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
