/*

Base .scss aggregator for departmetn and program sites

*/
/*
  -solid colors
  -gradients
*/
:root {
  --as-white: #fff;
  --as-black: #000;
  --as-gray-200: hsl(0, 0%, 96%);
  --as-gray-300: hsl(0, 0%, 90%);
  --as-gray-400: hsl(0, 0%, 80%);
  --as-gray-500: hsl(0, 0%, 60%);
  --as-gray-600: hsl(0, 0%, 30%);
  --as-gray-700: hsl(0, 0%, 4%);
  --as-red-200: hsl(0, 74%, 90%);
  --as-red-300: hsl(0, 74%, 60%);
  --as-red-400: hsl(0, 74%, 40%);
  --as-red-500: hsl(0, 74%, 30%);
  --as-red-600: hsl(0, 72%, 13%);
  --as-teal-200: hsl(185, 39%, 90%);
  --as-teal-300: hsl(185, 39%, 76%);
  --as-teal-400: hsl(185, 39%, 45%);
  --as-teal-500: hsl(185, 39%, 35%);
  --as-teal-600: hsl(185, 39%, 22%); }

/*

  - all non color variables

*/
:root {
  /*
----
FONTS
----
*/
  --font-sans: "canada-type-gibson", sans-serif;
  --font-serif: "freight-macro-pro", serif;
  --base-font-size: 20px;
  --base-16: 0.666rem;
  --base-18: 0.75rem;
  --base-20: 0.8333rem;
  --base-24: 1rem;
  --base-28: 1.2rem;
  --base-36: 1.5rem;
  --base-48: 2rem;
  --base-56: 2rem;
  --base-64: 2rem;
  --base-84: 2rem;
  --light: 200;
  --regular: 400;
  --semi: 600;
  --heavy: 800;
  /*
----
LINE WIDTH AND HEIGHT
----
*/
  --line-height: 1.4;
  --line-width: 60ch;
  /*
----
BORDERS
----
*/
  --border-width: 1px;
  --border-color: var(--as-gray-400);
  --border-radius: 4px;
  /*
----
WIDTHS
  match variables from /breakpoints
  used mostly for max widh settings page elements
----
*/
  --xs: 320px;
  --small: 480px;
  --medium: 782px;
  --large: 1224px;
  --xl: 1432px;
  --xxl: 1640px;
  /*
----
MARGINS
  - margins set to control horizontal spacing for page components
  - collapse at smaller sizes
----
*/
  --margin-2: 2rem;
  --margin-3: 2rem;
  --margin-4: 2rem;
  --margin-6: 2rem;
  --space: 2rem; }
  @media (min-width: 782px) {
    :root {
      --base-font-size: 24px; } }
  @media (min-width: 782px) {
    :root {
      --base-56: 2.33rem; } }
  @media (min-width: 782px) {
    :root {
      --base-64: 2.66rem; } }
  @media (min-width: 1224px) {
    :root {
      --base-84: 3.5rem; } }
  @media (min-width: 782px) {
    :root {
      --margin-3: 3rem; } }
  @media (min-width: 782px) {
    :root {
      --margin-4: 4rem; } }
  @media (min-width: 782px) {
    :root {
      --margin-6: 6rem; } }

/*
----
font size mixins
----
*/
.base-24, .sidebar h4 {
  font-size: var(--base-24);
  line-height: var(--line-height); }

.base-28, h4, .basicSidebar .content > .pageComponent--ftb > p:first-of-type {
  font-size: var(--base-28);
  line-height: 1.4; }

.base-36, h3 {
  font-size: var(--base-36);
  margin-bottom: 0;
  margin-top: 1em; }

.base-48, h2 {
  font-size: var(--base-48);
  margin-bottom: 0.5em;
  line-height: 1em; }

.base-56 {
  font-size: var(--base-56);
  margin-bottom: 0.44em;
  line-height: 1.2em; }

.base-64, h1 {
  font-size: var(--base-64);
  line-height: 1em; }

.base-84 {
  font-size: var(--base-84);
  line-height: 0.9em;
  margin-bottom: 1em; }

/* -------------------------

Title: _base.scss
Descr: sets HTML and Body styles

--------------------------- */
html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth; }

body {
  font-family: var(--font-sans);
  font-size: var(--base-font-size);
  color: var(--dark-text);
  font-weight: var(--light);
  line-height: var(--line-height);
  overflow-x: hidden;
  padding: 0 1rem;
  margin: 0; }
  @media (min-width: 782px) {
    body {
      padding: 0 2rem; } }

/* -------------------------

Title: headings.
Descr: 
    Sets basic styles for h1-h4

--------------------------- */
h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  font-weight: var(--semi);
  color: var(--as-gray-700);
  clear: both; }

@media (min-width: 1432px) {
  h1 {
    font-size: var(--base-84); } }

h1.h1--title, h1.title {
  margin-top: 0;
  font-family: var(--font-serif);
  font-weight: var(--heavy); }

.eyebrow + h2 {
  margin-top: 0.35em !important; }

.sidebar h2 {
  font-size: calc(1.5 * var(--base-font-size)); }

/* -------------------------

Title: _images.scss
Descr: sets basic image styles

--------------------------- */
img {
  max-width: 100%;
  height: auto; }

/* -------------------------

Title: _list-layouts.scss
Descr: 
    Sets styles for all list layouts. Primarily is a list a flex or grid etc.

--------------------------- */
.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem; }

.flex--2 div {
  -ms-flex: 48%;
      flex: 48%; }

.flex--4 div {
  -ms-flex: 25%;
      flex: 25%; }

.flex--3 div {
  -ms-flex: 31%;
      flex: 31%; }

.grid {
  display: grid;
  gap: 1rem; }

.grid--2 {
  grid-template-columns: 1fr 1fr; }

.grid--3 {
  grid-template-columns: repeat(3, 1fr); }

.grid--4 {
  grid-template-columns: repeat(4, 1fr); }

/* -------------------------

Title: <main> layouts.
Descr: 
    main content is the <main> tag. It is where the main components are. It is a child of the .container.
  - specific grid layouts on page css's
  * _article
  * _basicPage
  * _landingPage
  * _major-minor-grad
  * _view-list

--------------------------- */
.main {
  max-width: 1432px;
  margin: 0 auto var(--margin-2) auto;
  display: grid;
  grid-gap: 2rem;
  grid-row-gap: 0;
  opacity: 1;
  transition: opacity 150ms ease-in-out; }
  .main.fade {
    opacity: 0.25;
    transition: opacity 250ms ease-in-out 250ms; }
  .main .sidebar h3 {
    margin-bottom: 1em; }

/*

Basic text styles

*/
/* -------------------------

Title: Visibilities 
Descr: any hiding or showin

--------------------------- */
.hidden {
  display: none; }

.offscreen {
  position: absolute;
  z-index: -1; }

.sr-only {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
  white-space: nowrap;
  position: absolute; }

/* -------------------------

Title: Article cards and teasers
Descr: 
   - article--card
   - article--card-small
   - article--teaser

--------------------------- */
.article--card .article__copy {
  padding: 1rem;
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "label label label" "title title title" "date byline byline"; }

.article--card .article__title {
  grid-area: title;
  margin: 0.75em 0 2em 0;
  font-weight: var(--regular);
  font-size: var(--base-20);
  line-height: 1.4; }

.article--card .article__label {
  grid-area: label;
  color: var(--as-black);
  font-size: var(--base-18);
  font-weight: var(--semi);
  margin-bottom: 0.5em; }

.article--card .article__date {
  grid-area: date;
  text-align: left;
  font-size: var(--base-16);
  margin-top: 2px; }

.article--card .article__byline {
  grid-area: byline;
  font-size: var(--base-16);
  text-align: right; }

.article--card a.card__title-link {
  display: block;
  padding-bottom: 1em;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--as-teal-300);
          text-decoration-color: var(--as-teal-300);
  position: relative; }
  .article--card a.card__title-link:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    transition: all 0.2s;
    background-image: red; }
  .article--card a.card__title-link:hover:before {
    left: 0;
    width: 100%; }

.article--card-small {
  border: none;
  margin-bottom: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  background: none;
  box-shadow: none; }
  .article--card-small :before {
    display: none; }
  .article--card-small figure,
  .article--card-small img {
    -ms-flex: 0 0 30%;
        flex: 0 0 30%;
    margin-right: 1rem;
    border-radius: var(--border-radius); }
  .article--card-small .article__copy {
    -ms-flex: 1 0 60%;
        flex: 1 0 60%;
    padding: 0; }
  .article--card-small .article__title {
    grid-area: title;
    margin: 0;
    font-size: var(--base-20); }
  .article--card-small .article__label {
    font-size: var(--base-16); }

/* -------------------------

Title: Buttons and links that look like buttons
Descr: 
   - iconButton
    -- a button that has an svg icon in the middle

--------------------------- */
/*
----
ICON/SVG buttons
----
*/
.icon {
  background: none;
  border: none; }

.iconButton {
  line-height: 1; }

.icon--button svg {
  width: 1.5rem; }

/* -------------------------

Title: Cards
Descr: Sets shape and border of cards
  
--------------------------- */
.card {
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  gap: 1rem;
  border: 1px solid pink;
  -ms-flex-align: start;
      align-items: flex-start; }
  .card figure {
    margin: 0;
    box-shadow: none; }
    .card figure img {
      border-radius: 2px 2px 0 0; }
  .card > * {
    position: relative; }
  .card a {
    color: var(--as-red-500);
    display: block; }
    .card a:hover {
      color: var(--as-red-500); }

/* -------------------------

Title: _forms.scss
Descr: 
    Main inpage forms

    .form--simpleSearch

    .form--overlaySearch
    .form--blockSearch

--------------------------- */
form {
  background: var(--as-white);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: var(--border-radius); }
  form * {
    font-size: var(--base-16); }
    @media (min-width: 782px) {
      form * {
        font-size: var(--base-20); } }
    form *:focus {
      outline: 1px dashed var(--as-purple);
      outline-offset: -1px; }
  form.form--searchBlock, form.form--overlaySearch {
    max-width: var(--line-width); }
    form.form--searchBlock .searchField, form.form--overlaySearch .searchField {
      display: grid;
      grid-template-columns: 1fr auto;
      margin-left: 1rem;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  form.form--overlaySearch label {
    -ms-flex-preferred-size: 130px;
        flex-basis: 130px; }
  form.form--searchBlock {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    margin: 2rem 0; }
    form.form--searchBlock > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
    form.form--searchBlock label {
      margin-bottom: 1em; }
    form.form--searchBlock .searchField {
      margin-left: 0;
      width: 100%; }
  form label {
    font-weight: var(--semi); }
  form .form-text {
    border: none;
    border: 1px solid var(--gray-lt);
    background: var(--gray-lightest);
    padding: 0.5em;
    border-radius: var(--border-radius); }
  form .form-submit {
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5em;
    margin-left: 1rem;
    background: var(--storm-radial);
    color: var(--as-white); }
    form .form-submit + .form-submit {
      transform: translateY(50px); }

.views-exposed-form {
  padding: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-template-rows: auto;
  gap: 0.5em; }
  .views-exposed-form .js-form-type-textfield {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto 1fr;
    -ms-flex-align: center;
        align-items: center; }
    .views-exposed-form .js-form-type-textfield .form-text {
      margin-left: 1rem; }
  .views-exposed-form .js-form-type-select {
    display: grid;
    grid-template-columns: 1fr; }
  .views-exposed-form .form-submit {
    grid-column: 3;
    grid-row: 1; }
  .views-exposed-form .bef--secondary {
    grid-column: 1 / 3; }
    .views-exposed-form .bef--secondary summary {
      margin-bottom: 0.5rem; }
    .views-exposed-form .bef--secondary .details__contents .js-form-item {
      margin-bottom: 0.5rem; }

.form--overlaySearch {
  overflow: hidden;
  position: absolute;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 150ms ease-out; }
  @media (min-width: 782px) {
    .form--overlaySearch {
      width: calc(100% - 3rem); } }
  .form--overlaySearch.shown {
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 250ms ease-in-out 250ms;
    z-index: 1; }

/* -------------------------

Title: main navigation
Descr: nav--main small and large, hovers and toggles for subNav
       
Still needs: expand toggle for showing main nav on mobile

--------------------------- */
.nav--main {
  position: relative; }
  .nav--main .nav-toggle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    background: red;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin-bottom: 0;
    padding: 0.5rem; }
    .nav--main .nav-toggle.active button {
      transform: rotate(180deg); }
    @media (min-width: 782px) {
      .nav--main .nav-toggle {
        display: none; } }
  .nav--main .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: absolute; }
    .nav--main .nav.shown {
      transform: scale(1, 1);
      transform-origin: top;
      transition: transform 250ms ease-in-out 250ms;
      position: relative; }
    @media (min-width: 782px) {
      .nav--main .nav {
        position: relative; } }
    .nav--main .nav button {
      right: 5px;
      top: 5px;
      padding: 0;
      background: none;
      border: none;
      position: absolute;
      z-index: 10; }
      .nav--main .nav button svg {
        fill: var(--as-white); }
        @media (min-width: 900px) {
          .nav--main .nav button svg {
            fill: var(--as-black); } }
      .nav--main .nav button:focus {
        opacity: 1; }
      .nav--main .nav button.active {
        transform: rotate(180deg);
        transform-origin: 50% 50%; }
    .nav--main .nav a {
      font-weight: var(--light);
      display: block; }
      .nav--main .nav a.active {
        font-weight: var(--regular); }
  .nav--main .nav-0 {
    transform: scale(1, 0); }
    .nav--main .nav-0 .nav-0__item {
      background: var(--as-teal-200); }
      .nav--main .nav-0 .nav-0__item .nav-0__link {
        padding: 0.5rem; }
    @media (min-width: 782px) {
      .nav--main .nav-0 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        transform: none;
        width: 100%;
        color: var(--as-black);
        background: transparent;
        overflow: visible;
        position: relative;
        -ms-flex-pack: start;
            justify-content: flex-start;
        font-size: var(--base-20); }
        .nav--main .nav-0 .nav-1 {
          transform: scale(0, 0); }
        .nav--main .nav-0 .nav-0__item {
          background: transparent;
          position: relative; }
          .nav--main .nav-0 .nav-0__item:after {
            position: absolute;
            content: "";
            width: calc(100% - 27px);
            height: 3px;
            background: var(--as-red-400);
            top: 0;
            left: 0;
            transform: scaleX(0);
            transition: all 0.15s ease-in;
            visibility: hidden;
            border-radius: 2px; }
          .nav--main .nav-0 .nav-0__item .nav-0__link {
            background: none;
            opacity: 1;
            color: var(--as-black);
            width: auto;
            font-weight: var(--semi);
            padding: 0.5rem; }
          .nav--main .nav-0 .nav-0__item:hover, .nav--main .nav-0 .nav-0__item.expanded {
            -webkit-text-decoration-color: var(--as-gray-500);
                    text-decoration-color: var(--as-gray-500);
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
            overflow: visible; }
            .nav--main .nav-0 .nav-0__item:hover:after, .nav--main .nav-0 .nav-0__item.expanded:after {
              visibility: visible;
              transform: scaleX(1);
              transform-origin: top;
              transition: all 0.25s ease-out; }
            .nav--main .nav-0 .nav-0__item:hover .nav-1, .nav--main .nav-0 .nav-0__item.expanded .nav-1 {
              transform: scaleY(1);
              transform-origin: top;
              transition: all 0.25s ease-out; }
        .nav--main .nav-0 button {
          opacity: 0; } }
    @media (min-width: 1224px) {
      .nav--main .nav-0 {
        -ms-flex-pack: end;
            justify-content: flex-end; } }
  .nav--main .nav-1 {
    margin-top: 0;
    background: var(--as-white);
    position: absolute;
    font-size: var(--base-18);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    overflow: visible;
    margin-left: 0;
    transform: scaleY(0); }
    .nav--main .nav-1 .nav-1__link {
      position: relative;
      padding: 0.5rem 0 0.5rem 0.5rem; }
      .nav--main .nav-1 .nav-1__link:hover {
        color: var(--as-white);
        background: var(--as-red-400); }
        .nav--main .nav-1 .nav-1__link:hover:after, .nav--main .nav-1 .nav-1__link:hover:before {
          position: absolute;
          content: "";
          width: 0.25rem;
          height: 100%;
          top: 0;
          background: var(--as-red-400);
          border-radius: 4px; }
        .nav--main .nav-1 .nav-1__link:hover:after {
          right: -0.125rem; }
        .nav--main .nav-1 .nav-1__link:hover:before {
          left: -0.125rem; }
    @media (min-width: 782px) {
      .nav--main .nav-1 {
        width: 260px; } }

/*
.nav--main
*/
/* -------------------------

Title: otp navigation
Descr: otpN small and large, hovers and toggles for subNav

--------------------------- */
@media (min-width: 782px) {
  .main.otpStuck .otpNavWrapper {
    border-radius: var(--border-radius); } }

@media (min-width: 1224px) {
  .main.otpStuck .otpNav--basic_page {
    margin-left: 0;
    padding-left: 0;
    box-shadow: none; }
  .main.otpStuck .otpNav--landing_page {
    padding: 0.5rem 1rem 0.25rem 1rem; }
  .main.otpStuck .otpNavWrapper {
    position: sticky;
    top: 0;
    z-index: 1; } }

@media (min-width: 1432px) {
  .main.otpStuck .otpNavWrapper {
    width: 100%; } }

@keyframes otpNavFader {
  0% {
    opacity: 0; }
  20% {
    position: fixed;
    top: 0; }
  30% {
    opacity: 0;
    position: fixed;
    top: 0; }
  100% {
    opacity: 1;
    position: fixed;
    top: 0; } }

.otpNavWrapper {
  display: grid;
  background: var(--as-white);
  position: relative;
  z-index: 1;
  font-size: var(--base-18); }
  @media (min-width: 782px) {
    .otpNavWrapper {
      background: var(--as-white);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-direction: column;
          flex-direction: column; } }
  .otpNavWrapper h4 {
    font-size: var(--base-16);
    margin: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    margin-top: 0.5em;
    padding: 0.5rem;
    grid-row: 1;
    border: 1px solid var(--gray-lt);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: underline; }
    @media (min-width: 782px) {
      .otpNavWrapper h4 {
        cursor: default;
        margin: 0 0.5rem 4px 0;
        padding-left: 0;
        color: var(--as-black);
        font-weight: var(--regular);
        border: none;
        cursor: default;
        text-decoration: none; } }
  .otpNavWrapper .otpNav {
    font-weight: var(--regular);
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
    padding-left: 0;
    grid-row: 2;
    width: 100%;
    position: absolute;
    top: -3px;
    background: var(--as-black);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 150ms ease-out; }
    .otpNavWrapper .otpNav li {
      max-width: 100%; }
      .otpNavWrapper .otpNav li:last-of-type {
        margin-right: 0; }
    .otpNavWrapper .otpNav a {
      padding: 0.5em 1em;
      display: block;
      color: var(--as-white); }
      @media (min-width: 782px) {
        .otpNavWrapper .otpNav a {
          padding: 0rem 1rem 0 0rem;
          color: var(--as-dark-blue);
          position: relative; }
          .otpNavWrapper .otpNav a:before {
            position: absolute;
            content: "";
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            transition: all 0.2s;
            background-image: var(--teal-purple);
            width: calc(100% - 1rem); }
          .otpNavWrapper .otpNav a:hover, .otpNavWrapper .otpNav a.active, .otpNavWrapper .otpNav a:focus {
            text-decoration: none; }
            .otpNavWrapper .otpNav a:hover:before, .otpNavWrapper .otpNav a.active:before, .otpNavWrapper .otpNav a:focus:before {
              transform: scaleX(1); } }
    .otpNavWrapper .otpNav.expanded {
      transform: scale(1, 1);
      transform-origin: top;
      transition: transform 250ms ease-in-out 250ms; }
    @media (min-width: 782px) {
      .otpNavWrapper .otpNav {
        -ms-flex-direction: row;
            flex-direction: row;
        transform: none;
        position: relative;
        width: auto;
        background: none;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 1224px) {
  .otpNav--landing_page {
    padding: 0;
    -ms-flex-direction: row;
        flex-direction: row; } }

@media (min-width: 782px) {
  .otpNav--basic_page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: auto; } }

@media (min-width: 1224px) {
  .otpNav--basic_page {
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: var(--base-18);
    padding-top: 0; }
    .otpNav--basic_page h4 {
      margin-bottom: 0.75em;
      padding-top: 0; }
    .otpNav--basic_page:before {
      display: none; } }

@media (min-width: 1224px) {
  .otpNav--basic_page .otpNav {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-left: 0;
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none; }
    .otpNav--basic_page .otpNav li {
      margin-right: 0;
      margin-bottom: 0.5rem;
      width: 100%; }
    .otpNav--basic_page .otpNav a {
      padding: 0 1rem 0 0.75rem;
      margin-right: 0; }
      .otpNav--basic_page .otpNav a:before, .otpNav--basic_page .otpNav a:after {
        position: absolute;
        content: "";
        transform: scaley(0);
        height: 100%;
        top: 0;
        left: 0;
        width: 4px;
        border-radius: var(--border-radius);
        transition: all 0.2s;
        background-image: var(--teal-purple-radial); }
      .otpNav--basic_page .otpNav a:after {
        background: var(--gray-lightest);
        z-index: -1;
        transform: scaleY(1); }
      .otpNav--basic_page .otpNav a:hover, .otpNav--basic_page .otpNav a.active, .otpNav--basic_page .otpNav a:focus {
        text-decoration: none; }
        .otpNav--basic_page .otpNav a:hover:before, .otpNav--basic_page .otpNav a.active:before, .otpNav--basic_page .otpNav a:focus:before {
          transform: scaley(1); } }

@keyframes slideFromTop {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(1); } }

.nav--site {
  position: relative; }
  .nav--site .nav-toggle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    background: red;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin-bottom: 0;
    padding: 0.5rem; }
    .nav--site .nav-toggle.active button {
      transform: rotate(180deg); }
    @media (min-width: 782px) {
      .nav--site .nav-toggle {
        display: none; } }
  .nav--site .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: absolute; }
    .nav--site .nav.shown {
      transform: scale(1, 1);
      transform-origin: top;
      transition: transform 250ms ease-in-out 250ms;
      position: relative; }
    @media (min-width: 782px) {
      .nav--site .nav {
        transform: none;
        position: relative; } }
    .nav--site .nav button {
      right: 5px;
      top: 5px;
      padding: 0;
      background: none;
      border: none;
      position: absolute;
      z-index: 10; }
      .nav--site .nav button svg {
        fill: var(--as-white); }
        @media (min-width: 900px) {
          .nav--site .nav button svg {
            fill: var(--as-black); } }
      .nav--site .nav button:focus {
        opacity: 1; }
      .nav--site .nav button.active {
        transform: rotate(180deg);
        transform-origin: 50% 50%; }
    .nav--site .nav a {
      font-weight: var(--light); }
      .nav--site .nav a.active {
        font-weight: var(--regular); }
  .nav--site .nav-0 {
    background: var(--as-gray-300);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    z-index: 11;
    transform: scale(1, 0);
    transform-origin: top; }
    @media (min-width: 782px) {
      .nav--site .nav-0 {
        transform: none; } }
    .nav--site .nav-0 > .nav-0__item {
      background: var(--as-teal-400);
      margin-bottom: 0;
      position: relative; }
    .nav--site .nav-0 .nav-0__link {
      display: inline-block;
      position: relative;
      color: var(--as-gray-300);
      background: var(--as-black);
      padding: 0.5rem;
      width: 100%;
      transition: opacity 150ms ease-in-out; }
      .nav--site .nav-0 .nav-0__link.has-sub {
        background: red;
        width: calc(100% - 3rem);
        border-right: 1px solid var(--as-white); }
  .nav--site .nav-1 {
    border-radius: 0;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    transform: scaleY(0);
    transform-origin: top; }
    .nav--site .nav-1.expanded {
      opacity: 1;
      transform: scaleY(1);
      position: relative; }
    .nav--site .nav-1 a {
      padding: 0.5rem 0 0.5rem 1rem;
      color: var(--as-black);
      text-decoration: underline;
      display: block; }
      .nav--site .nav-1 a:hover, .nav--site .nav-1 a:focus {
        background-color: var(--as-white); }
  @media (min-width: 782px) {
    .nav--site {
      background: pink;
      position: relative;
      transform: none;
      overflow: visible; }
      .nav--site .nav-1 {
        position: relative;
        transform: none; } }

/* -------------------------

Title: _card--person.scss
Descr: Sets all specific styles for an person card
  sets css for card--feature as they are person

--------------------------- */
.person--card {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  .person--card figure {
    background: none; }
  .person--card .person__name-title {
    font-size: var(--base-28);
    font-weight: var(--semi);
    margin: 0 1rem; }
  .person--card .person__name {
    font-size: var(--base-28);
    font-weight: var(--semi); }
  .person--card .person__title {
    font-size: var(--base-20);
    margin-top: 0; }
  .person--card .person__contacts {
    font-size: var(--base-18);
    padding: 1rem;
    display: none; }
  .person--card .person__copy {
    margin: 0 1rem; }
  .person--card .person__departments,
  .person--card .person__responsibilities {
    margin-top: 1em;
    padding-top: 1em;
    font-size: var(--base-16);
    border-top: 1px solid var(--as-teal);
    padding-bottom: 1rem;
    margin: 1rem; }
    .person--card .person__departments ul,
    .person--card .person__responsibilities ul {
      padding-left: 1rem;
      margin-left: 0;
      margin-top: 0; }

.card--small {
  border: none;
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  background: none;
  box-shadow: none; }
  .card--small :before {
    display: none; }
  .card--small .card--person__name-title {
    margin: 0;
    -ms-flex: 1 0 60%;
        flex: 1 0 60%; }
  .card--small .card--person__name,
  .card--small .card--person__title {
    padding-top: 0;
    margin-top: 0; }
  .card--small .card--person__name {
    font-weight: var(--semi);
    font-size: var(--base-20); }
  .card--small .card--person__title {
    font-size: var(--base-20);
    font-weight: var(--regular); }
  .card--small figure {
    -ms-flex: 0 0 30%;
        flex: 0 0 30%;
    margin-right: 1rem; }
  .card--small img {
    border-radius: var(--border-radius); }
  .card--small .card__copy {
    -ms-flex: 0 0 60%;
        flex: 0 0 60%;
    padding: 0;
    font-size: var(--base-18); }
  .card--small .card--person__contacts {
    display: none; }

/* -------------------------

Title: Site footer styles
Descr: Set
        - footer
        - for current student menu
        - footer menus
all search form design in _forms.scss

--------------------------- */
footer {
  background: var(--as-black);
  color: var(--as-white);
  font-size: var(--base-20);
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 3rem 2rem;
  margin-left: -2rem; }
  footer:before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    margin: 0 -0.5rem -0.5rem 0;
    content: "";
    background-image: var(--ampresand);
    background-size: 600%;
    animation: bg-animation 10s infinite alternate;
    z-index: -1;
    -webkit-clip-path: url(#bigamp);
            clip-path: url(#bigamp);
    z-index: 1; }
    @media (min-width: 1224px) {
      footer:before {
        top: 0;
        bottom: 0;
        right: 0;
        width: 702px;
        height: 105%;
        margin: -0.5rem -2rem; } }
  footer h2 {
    font-size: var(--base-28);
    color: var(--as-white); }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
  footer .footer {
    margin: 0 auto;
    max-width: var(--xl);
    font-weight: var(--light);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    z-index: 2; }
    @media (min-width: 782px) {
      footer .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 1rem; } }
    @media (min-width: 1224px) {
      footer .footer {
        grid-template-columns: repeat(12, 1fr); } }
    footer .footer__currentStudents {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
      margin-bottom: 2rem;
      font-size: 1.2em; }
      @media (min-width: 1224px) {
        footer .footer__currentStudents {
          grid-column: 1 / 4;
          grid-row: 1 / 1; } }
    footer .footer__importantLinks {
      grid-column: 2 / -1;
      grid-row: 1; }
      @media (min-width: 1224px) {
        footer .footer__importantLinks {
          grid-column: 4 / -1;
          grid-row: 1 / 1; } }
      footer .footer__importantLinks > ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        footer .footer__importantLinks > ul > li {
          -ms-flex: 0 0 45%;
              flex: 0 0 45%;
          font-weight: var(--regular); }
          @media (min-width: 1224px) {
            footer .footer__importantLinks > ul > li {
              -ms-flex: 0 1 23%;
                  flex: 0 1 23%; } }
          footer .footer__importantLinks > ul > li > a {
            margin-bottom: 0.5em;
            display: block; }
        footer .footer__importantLinks > ul ul {
          font-weight: var(--light); }
    footer .footer__logo {
      grid-column: 1 / -1;
      grid-row: 2;
      margin-bottom: 2rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      @media (min-width: 1224px) {
        footer .footer__logo {
          grid-column: 1 / 5;
          grid-row: 2; } }
    footer .footer__address {
      grid-column: 2;
      grid-row: 3;
      font-size: var(--base-16); }
      @media (min-width: 1224px) {
        footer .footer__address {
          grid-column: 6 / 8;
          grid-row: 2; } }
    footer .footer__contacts {
      grid-column: 1;
      grid-row: 3;
      font-size: var(--base-16); }
      @media (min-width: 1224px) {
        footer .footer__contacts {
          grid-column: 8 / 10;
          grid-row: 2; } }
    footer .footer__socialLinks {
      grid-column: 3;
      grid-row: 3;
      font-size: var(--base-16); }
      @media (min-width: 1224px) {
        footer .footer__socialLinks {
          grid-column: 11 / -1;
          grid-row: 2; } }
    footer .footer .socialLink:before {
      background: var(--as-white); }
    footer .footer__otherInformation {
      grid-column: 1 / -1;
      grid-row: 4; }
  footer .cu-logo {
    display: none; }
    @media (min-width: 480px) {
      footer .cu-logo {
        display: block;
        text-indent: -9999px;
        width: 73px;
        height: 73px;
        background: url(/themes/custom/discovery/images/cornell-white.svg);
        background-repeat: no-repeat;
        background-size: 73px 73px; } }
  footer a {
    color: var(--as-white);
    -webkit-text-decoration-color: var(--as-blue-gray);
            text-decoration-color: var(--as-blue-gray); }
    footer a.btn {
      font-weight: var(--semi);
      text-decoration: underline; }
  footer .as-logo {
    text-indent: -9999px;
    width: 238px;
    height: 71px;
    background: url(/themes/custom/discovery/images/the-college-two-line-white.svg);
    background-size: 238px 71px;
    background-repeat: no-repeat;
    position: relative; }
    @media (min-width: 480px) {
      footer .as-logo {
        margin-left: 38px; }
        footer .as-logo:before {
          position: absolute;
          width: 1px;
          background: var(--as-gray-400);
          height: 100%;
          top: 0;
          left: -19px;
          content: ""; } }

@media (min-width: 480px) {
  .extraLinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: var(--base-18); }
    .extraLinks li {
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: 1px solid var(--gray-dark); }
      .extraLinks li:last-of-type {
        padding-right: 0;
        border: none; } }

.toTopButton {
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  background: var(--gray-lightest);
  border-radius: var(--border-radius);
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  font-weight: var(--semi);
  font-size: var(--base-18);
  color: var(--as-black);
  padding-bottom: 4px;
  opacity: 0;
  transition: opacity 250ms ease-in-out; }
  .toTopButton:before {
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    content: "";
    top: 16px;
    left: 18px;
    background: var(--as-purple);
    -webkit-clip-path: url(#chevron-up);
            clip-path: url(#chevron-up);
    transition: transform 250ms; }
  .toTopButton.show {
    opacity: 1; }
  .toTopButton:hover:before {
    transform: translateY(-4px) scale(1.1); }

/* -------------------------

Title: Site header styles
Descr: Set 
        - #skip
        - header
        - .cu-logo
        - .as-logo
all search form design in _forms.scss

--------------------------- */
#skip {
  position: absolute;
  top: -20px;
  z-index: 3; }
  #skip a {
    z-index: 0;
    position: absolute;
    left: -5000px;
    width: 300px;
    font-weight: 600; }
    #skip a:focus {
      left: 200px; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px auto auto auto;
  margin: 0 auto;
  max-width: var(--xl);
  position: relative; }
  @media (min-width: 782px) {
    header {
      grid-template-columns: 1fr 1fr auto;
      margin: 1rem auto 2rem auto; } }
  @media (min-width: 900px) {
    header {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      -ms-flex-align: center;
          align-items: center;
      margin: 1rem auto 2rem auto; } }
  header .header__searchForm {
    grid-column: 1 / -1;
    grid-row: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (min-width: 782px) {
      header .header__searchForm {
        grid-row: 4; } }
    @media (min-width: 1224px) {
      header .header__searchForm {
        grid-row: 3; } }
  header .cu-logo {
    text-indent: -9999px;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 200px;
    height: 45px;
    grid-column: 1 / 1;
    -ms-flex-item-align: center;
        align-self: center;
    background: url(/themes/custom/discovery/images/cornell-reduced-black.svg);
    background-repeat: no-repeat;
    background-size: 200px 45px; }
  header .department-logo {
    text-indent: -9999px;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 1rem 0;
    background: url(/themes/custom/discovery/images/TEST-NES-oneline.svg);
    background-size: contain;
    background-repeat: no-repeat; }
    @media (min-width: 1224px) {
      header .department-logo {
        background: url(/themes/custom/discovery/images/TEST-NES.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 70px; } }
  header .as-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    grid-column: 2;
    grid-row: 1;
    background: url(/themes/custom/discovery/images/AS.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    text-indent: -5000px; }
    @media (min-width: 782px) {
      header .as-logo {
        background: url(/themes/custom/discovery/images/Arts-and-sciences.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        justify-self: flex-end;
        -ms-flex-item-align: center;
            align-self: center; } }
    @media (min-width: 900px) {
      header .as-logo {
        background: url(/themes/custom/discovery/images/the-college-one-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 300px;
        justify-self: flex-end;
        -ms-flex-item-align: center;
            align-self: center; } }
  header .header__mainNav {
    grid-column: 1 / -1;
    grid-row: 3; }
    @media (min-width: 782px) {
      header .header__mainNav {
        grid-column: 1/-1;
        grid-row: 3; } }
    @media (min-width: 1224px) {
      header .header__mainNav {
        grid-row: 2;
        grid-column: 2 / -1; } }
  header .header__buttons {
    grid-column: 2;
    grid-row: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center; }
    @media (min-width: 782px) {
      header .header__buttons {
        grid-column: 3; } }
    header .header__buttons button {
      border: none;
      background: none;
      cursor: pointer; }
    @media (min-width: 782px) {
      header .header__buttons .iconButton--showNav {
        display: none; } }
    @media (min-width: 1224px) {
      header .header__buttons {
        grid-column: 3;
        grid-row: 1; } }
    @media (min-width: 1432px) {
      header .header__buttons {
        grid-row: 1; } }
  header .main-nav-toggle {
    grid-area: navIcon; }

@media (min-width: 1432px) {
  body.landing_page header {
    padding: 6rem 1rem 5rem 1rem; } }

/* -------------------------

Title: <main> .basicSidebar
Descr: 
   basicSidebar specific 

--------------------------- */
.basicSidebar {
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "nav" "title" "aside" "content" "sidebar"; }
  .basicSidebar .nav--site {
    grid-area: nav; }
  .basicSidebar .title {
    grid-area: title; }
    .basicSidebar .title h1 {
      text-align: center;
      font-family: var(--font-serif);
      font-weight: var(--semi); }
      @media (min-width: 1224px) {
        .basicSidebar .title h1 {
          text-align: left;
          margin-top: 0; } }
  .basicSidebar .sidebar {
    grid-area: sidebar; }
  .basicSidebar .content {
    grid-area: content; }
  .basicSidebar aside {
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    z-index: 1; }
    @media (min-width: 782px) {
      .basicSidebar aside {
        grid-area: aside; } }
    .basicSidebar aside .page_component_entity {
      display: none; }
      @media (min-width: 1224px) {
        .basicSidebar aside .page_component_entity {
          display: block; } }
  @media (min-width: 782px) {
    .basicSidebar {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: ". title title title title title title title title title . ." ".nav nav nav content content content content content content content ." ".sidebar sidebar sidebar content content content content content content content ."; } }
  @media (min-width: 782px) {
    .basicSidebar--has-aside {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "title title title title title title title title title title . ." "nav nav nav content content content content content content content aside aside" "sidebar sidebar sidebar content content content content content content content aside aside"; } }
  @media (min-width: 1224px) {
    .basicSidebar--has-aside {
      grid-template-columns: repeat(24, 1fr);
      grid-template-areas: ". . . . . title title title title title title title title title title title title title title title . . . ." "nav nav nav nav nav content content content content content content content content content content content content content content content aside aside aside aside" "sidebar sidebar sidebar sidebar sidebar content content content content content content content content content content content content content content content aside aside aside aside"; } }
  .basicSidebar .content > h2:first-of-type {
    margin-top: 0; }
  .basicSidebar .pcWrapper {
    margin-bottom: 3rem; }

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
