/* -------------------------

Title: System block styles
Descr: Set 
        - tabs

--------------------------- */
.system-block {
  background: var(--as-gold-200);
}

.local-tasks {
  position: absolute;
  top: 100px;
  ul {
    background: var(--as-teal-300);
    font-size: var(--base-16);
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    border-radius: var(--border-radius);
    li {
      margin: 0.25rem;
    }

    a {
      display: block;
      padding: 0.25rem 0.5rem;
      background: var(--as-teal-200);
      border-radius: var(--border-radius);
      color: var(--as-teal-600);
      font-weight: var(--semi);
    }
  }
}
