/* -------------------------

Title: _link-block  
Descr: sets up all uniquie styles for link-block pargraps on
  --landing pages
  --basic pages
  --articles

--------------------------- */
.link-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--as-gray-200);
  padding: 3rem 0;
  border-radius: var(--border-radius);
  width: 100%;
  @include mq(medium) {
    width: 120%;
    margin: 4rem 0 0 -10%;
  }

  &__label {
    text-align: center;
  }
  &__links {
    display: inline-flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 2rem;
    flex-direction: column;
    width: 100%;
    > a {
      @include button($bgimage: var(--button-gradient-2));
      width: calc(100% - 4em);
      margin-top: 0;
    }
    @include mq(medium) {
      flex-direction: row;
      max-width: 80%;
      > a {
        width: max-content;
      }
    }
  }
}
